<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-black.svg" alt="logo" width="264" height="78"></a>
            <p>
                Partnering with industries worldwide, we design and manufacture high-performance elastomeric seals for OEMs, oil and gas, and beyond.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/">News</a>
                    </li>
                    <li>
                        <a href="/">Engineering Resources</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>
                        <a href="/heroservices">Custon Seal Desgin</a>
                    </li>
                    <li>
                        <a href="/heroservices">Application Engineering</a>
                    </li>
                    <li>
                        <a href="/heroservices">Problem Seal Analaysis</a>
                    </li>
                    <li>
                        <a href="/heroservices">Precision Manufacturing</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            3824 S 79th East Ave<br>
                            
                            Tulsa
                            Oklahoma
                            74145
                        </a>
                    </li>
                    <li>
                        <a href="tel:918-664-0587">
                            T:
                            (918) 664-0587
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@clarkseals.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.betterwebsite.ai" target="_blank" rel="noopener">Better Website</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
