---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/electrician.jpg?updatedAt=1739366817267">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/electrician.jpg?updatedAt=1739366817267">
                    <img aria-hidden="true" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/electrician.jpg?updatedAt=1739366817267" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/big_clark_bld.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/big_clark_bld.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/big_clark_bld.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    Founded in 1956, <strong>Clark Seals</strong> is a highly specialized seal engineering firm and precision manufacturer of elastomeric seals for original equipment manufacturers and oil and gas drilling and production. For more than 5 decades, Clark Seals has focused on providing the most advanced custom seal designs, application engineering and problem seal analysis in the industry. Today Clark Seals is considered one of the premier seal producers in the world.
                </p>
                <p class="cs-text">Clark Seals is structured as an engineering support organization, seamlessly integrating with manufacturers to provide application and manufacturing support, inventory management and purchasing logistics. Our work is fast and precise and helps strengthen all levels of engineering, manufacturing and supply-chain operations.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Scott Zahn</span>
                    <span class="cs-job">CEO-Owner</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                
            </div>
        </div>
    </section>
<!-- ============================================ -->
<!--                 Timeline                    -->
<!-- ============================================ -->

<section id="timeline-2178">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">History</span>
            <h2 class="cs-title">Timeline</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        1956
                    </span>
                    <h3 class="cs-h3">Company Founded by Randy Clark</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        1958
                    </span>
                    <h3 class="cs-h3">Developed first high precision bearing seals for The Timken Company</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        1965
                    </span>
                    <h3 class="cs-h3">Opened manufacturing facility in Tulsa, Oklahoma to produce high quality bearing seals for tapered, spherical, cylindrical and double row bearings</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        1970
                    </span>
                    <h3 class="cs-h3">Pioneered modern-day seal vacuum molded technology</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        1975
                    </span>
                    <h3 class="cs-h3">Began producing high precision shaft seals for US manufacturers</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        1992
                    </span>
                    <h3 class="cs-h3">Purchased by Henry Zahn</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        2000
                    </span>
                    <h3 class="cs-h3">Initiated Optimum Seal Design Standards for US industry</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        2002
                    </span>
                    <h3 class="cs-h3">Developed proprietary Seal Optimization Design Process for OEM applications</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        2003
                    </span>
                    <h3 class="cs-h3">Designed and patented first negative R seal design for washing machines</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        2004
                    </span>
                    <h3 class="cs-h3">Designed and patented first triple lip seal design for motorcycle forks</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        2006
                    </span>
                    <h3 class="cs-h3">Designed and patented first hand-install seal design for sheaves and oilfield applications</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        2008
                    </span>
                    <h3 class="cs-h3">Initiated NASA (AF) seal design standard for high pressure seals</h3>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-wrapper">
                    <span class="cs-date">
                        2012
                    </span>
                    <h3 class="cs-h3">Opened manufacturing facility in Ningbo, China to produce high precision shaft seals for global markets</h3>
                </div>
            </li>
     
        </ul>
    </div>
   
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}