---
title: 'Agriculture | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'agriculture/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                  Landing Video               -->
<!-- ============================================ -->

<section id="cta-2236">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Agriculture</h2>
            <p class="cs-text">
                Our durable seals protect heavy machinery from dirt, moisture, and harsh environments for longer equipment life.
            </p>
        </div>
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a picture instead of a video.-->
            <video autoplay loop muted loading="lazy" src="https://ik.imagekit.io/6ycdefzj5/tractor.mp4?tr=orig"></video>
        <!-- <picture class="cs-picture">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg" alt="wedding" width="1720" height="547">
            </picture> -->
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-456">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Industry</span>
            <h2 class="cs-title">Agriculture/Construction </h2>
            <p class="cs-text">
                The agriculture and construction industries rely on heavy-duty equipment that operates in some of the toughest environments, from muddy fields to rugged construction sites. These machines endure constant exposure to dirt, dust, moisture, and extreme temperatures, making reliable sealing solutions essential for preventing contamination, reducing wear, and ensuring long-term performance. Clark Seals provides durable, high-performance seals designed to protect hydraulic systems, bearings, gearboxes, and other critical components in tractors, excavators, loaders, and other heavy machinery. Our seals help extend equipment life, minimize downtime, and improve overall efficiency, allowing agricultural and construction operations to run smoothly, even in the harshest conditions.
            </p>
           
            
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/agriculture.jpg">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/agriculture.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/agriculture.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}