---
title: 'Appliance | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'appliance/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                  Landing Video               -->
<!-- ============================================ -->

<section id="cta-2236">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Appliance</h2>
            <p class="cs-text">
                We manufacture precision seals that enhance appliance performance, efficiency, and leak protection.
            </p>
        </div>
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a picture instead of a video.-->
            <video autoplay loop muted loading="lazy" src="https://ik.imagekit.io/6ycdefzj5/machineappliances.mp4?tr=orig&updatedAt=1739558498469"></video>
        <!-- <picture class="cs-picture">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg" alt="wedding" width="1720" height="547">
            </picture> -->
        </div>
    </div>
</section>

 <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-456">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Industry</span>
            <h2 class="cs-title">Appliance </h2>
            <p class="cs-text">
                The appliance industry demands precision-engineered seals that ensure reliability, efficiency, and longevity in household and commercial appliances. From washing machines and dishwashers to refrigerators and HVAC systems, seals play a crucial role in preventing leaks, reducing friction, and protecting internal components from moisture, heat, and chemical exposure. Clark Seals designs and manufactures high-performance sealing solutions that enhance the durability and energy efficiency of appliances, helping manufacturers meet strict industry standards and improve product lifespan. Our advanced sealing technology ensures smooth operation, reduced maintenance, and superior performance in everyday appliances used by millions of households and businesses worldwide.
            </p>
           
            
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/image.png?updatedAt=1742402448712">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/image.png?updatedAt=1742402448712">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/image.png?updatedAt=1742402448712" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}