---
title: 'Bearing seals | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'bearingseals/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/radialshaftseals.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Products</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
<!-- ============================================ -->
<!--                Services Row 1                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Bearing Seals</h2>
            </div>
            <p class="cs-text">
                A bearing seal is a specialized seal designed to protect bearings from contamination while retaining lubricants within the bearing housing. It plays a vital role in extending bearing life by preventing the ingress of dirt, moisture, and other harmful particles. Bearing seals are available in various configurations—such as contact, non-contact, and labyrinth designs—and are commonly used in automotive, industrial, and agricultural equipment to ensure smooth, reliable performance in demanding environments.
            </p>
            
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/ca.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/ca.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/ca.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CA</h3>
                    <p class="cs-item-text">
                        This all metal seal is used to help retain grease and act as a shield. A heavy press fit retains the seal in the housing during bearing re-lubrication. Slight leakage of excess grease occurs during operation. It is often used where high temperatures prevent using an elastomer lip seal, such as overhead cranes in steel mills.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cb.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cb.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cb.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CB</h3>
                    <p class="cs-item-text">
                        The CB is an excluder that seals against a chamfered large cone rib diameter. It has a nose gasket to improve O.D. sealing.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/ce.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/ce.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/ce.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CE</h3>
                    <p class="cs-item-text">
                        The CE type seal has a rubber covered 16-gauge steel case for maximum protection against corrosion. It also has a nose gasket that seals against the cup front face. The lip design excludes heavy contaminants, extends bearing life and allows spent grease to be flushed from the bearing cavity. CE seals are used in corrosive environments such as cargo handling equipment, drilling rigs, mine-car wheels, shipboard applications, hospital equipment, recreation equipment and utility trailers.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/ce-8000.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/ce-8000.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/ce-8000.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CE-8000</h3>
                    <p class="cs-item-text">
                        The 8000 series seals are narrower than the 7000 series seals. They are used in applications where a snap ring is required to positively retain the bearing cup in the housing. This series is used in crown and traveling blocks, and in mine-car wheels. Clark recommends all seals installed in damaged housings be bonded into the housing with an industrial adhesive.
                    </p>
            
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 2                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cj.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cj.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cj.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CJ</h3>
                    <p class="cs-item-text">
                        CJ style seals are utilized in applications where the bearing can only be sealed by using the cone's front face. The application requires a shoulder or other means of clamping the seal in place against the cup. This seal retains grease and protects against contaminants while allowing excess grease to escape. This seal is used on heavy equipment with rollers, such as paper-mills.
                    </p>
    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cl.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cl.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cl.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CL</h3>
                    <p class="cs-item-text">
                        The CL Excluder Seal® features a single excluder lip that seals against the housing bore, and an elastomer locator lip to position the seal on the large cone rib diameter of the bearing for easy, accurate assembly. The heavy-gauge steel case is clamped between the cone back face and the shaft shoulder. The outside seal face is rubber covered unless heavy clamping pressure prevents using rubber or where space is limited. Rubber on the seal I.D. provides a positive seal against the shaft. Coordinating the CL and the CJ series will create a complete sealing system.	
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cn.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cn.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cn.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CN</h3>
                    <p class="cs-item-text">
                        Full Face Seals for Radial Ball Bearings, Spherical and Cylindrical Roller Bearings Full face CN and CO type seals cover the bearing face from I.D. to O.D. as shown below. Check with the manufacturer for availability of the size to meet your design requirements	
                    </p>
                    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/co.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/co.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/co.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CO</h3>
                    <p class="cs-item-text">
                        Full Face Seals for Radial Ball Bearings, Spherical and Cylindrical Roller Bearings Full face CN and CO type seals cover the bearing face from I.D. to O.D. as shown below. Check with the manufacturer for availability of the size to meet your design requirements.	
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 3                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cpe.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cpe.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cpe.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CPE</h3>
                    <p class="cs-item-text">
                        The CPE offers the same features as the standard CPZ Bore Plugs with the additional feature to accommodate extended shafts.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cpz.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cpz.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cpz.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CPZ</h3>
                    <p class="cs-item-text">
                        Bore Plugs are designed to seal the open housing bore and provide easy future access to the shaft. Greases are retained, and contaminants are excluded. The rubber covered outside diameter permits use in housing bores of varying finish.
                    </p>
                    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cq.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cq.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cq.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CQ</h3>
                    <p class="cs-item-text">
                        The CQ is a grease retaining seal for vertical shaft applications. The steel case is clamped between the cone back face and the shaft shoulder. The seal can be rubber covered on the air side unless heavy clamping pressure precludes using rubber or where space is limited. The sealing lip contacts the cup front face. These seals are specially designed to retain grease in the bottom bearing of vertical shaft applications. Rubber on the seal I.D. provides a positive seal against the shaft. It is used in the rotary table of drilling rigs. This seal was originally designed to retain grease in the upper bearing of the vertical shaft in a large gear box where the bearing had failed due to the lack of lubrication.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cs2.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cs2.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cs2.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CS</h3>
                    <p class="cs-item-text">
                        The CS Excluder Seal® is a single lip seal with the same lip design as the CE style. The metal case of the CS design provides a heavy press fit into the housing bore. It also provides resistance to excessive bearing cavity pressures. The nose gasket seals against the cup front face.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 4                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/2000.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/2000.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/2000.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">2000</h3>
                    <p class="cs-item-text">
                        The 2000 series has a double lip for grease retention and for maximum bearing protection from contaminants. These seals are designed to prevent the excess grease from escaping during re-lubrication. The application design must include pressure relief of excess grease.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cs-8000.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cs-8000.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cs-8000.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CS-8000</h3>
                    <p class="cs-item-text">
                        The CS style is the same as the CE-8000 except that it has an exposed metal exterior and metal O.D. for a heavy press fit and easy, accurate installation.
                    </p>
                    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cst.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cst.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cst.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CST</h3>
                    <p class="cs-item-text">
                        The CST style is the same as the CE-8000 except that it has a rubber covered exterior that extends to seal against the housing chamfer. This style is used in salt water and corrosive environments. The metal O.D. gives a heavy press fit and easy, accurate installation.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/csl-premium.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/csl-premium.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/csl-premium.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CSL-PREMIUM</h3>
                    <p class="cs-item-text">
                        The CSL Premium seal combines the benefits of a machined metal and elastomer O.D. The metal O.D. provides a heavy press fit and easy installation. The elastomer covers the outside face and seals against the housing bore for maximum protection. The CSL Premium seal has a nose gasket that seals against the cup front face. The SAE lip design reduces drag, increases seal life, excludes heavy contaminants, and allows spent grease to be flushed from the bearing cavity. The lead-in chamfer allows for easy, accurate installation and better concentricity between the housing bore and the sealing lip. CSL Premium seals are used in corrosive environments such as cargo handling equipment, drilling rigs, mine-car wheels, shipboard applications, hospital equipment, recreation equipment and utility trailers.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 5                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cst.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cst.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cst.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CST</h3>
                    <p class="cs-item-text">
                        The CST is a grease flushing seal with a rubber covered seal face which has a rubber ridge that seals against the housing radius to protect the bearing in a corrosive environment. The metal O.D. provides a heavy press fit with a nose seal for added O.D. sealing.
                    </p>
                    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/ct2.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/ct2.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/ct2.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CT</h3>
                    <p class="cs-item-text">
                        The CT style is a double lip Excluder Seal® that provides extra protection from contaminants. The excluder lips seal on the housing bore and cup face. The air side of the metal case is rubber covered and clamps between the cone back face and the shaft shoulder. This seal is used in front-end loaders and roll formers for seamless tubing
                    </p>
                    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cu.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cu.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cu.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CU</h3>
                    <p class="cs-item-text">
                        The CU style is a double excluder lipped seal for added protection in extremely dirty or wet environments. The two lips open during bearing re-lubrication to allow excess grease to be flushed from the bearing cavity. This seal features an elastomer locator lip that positions the seal onto the bearing cone for easy, accurate assembly. Rubber on the seal I.D. provides a positive seal against the shaft. The heavy-gauge steel case is clamped between the cone back face and the shaft shoulder. The face can be rubber covered unless heavy clamping pressure precludes using rubber on the seal outside face or where space is limited. This seal is generally used in agricultural equipment.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cv2.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cv2.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cv2.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CV</h3>
                    <p class="cs-item-text">
                        The CV style is a double lipped Excluder Seal® that provides extra protection from contaminants. The excluder lips seal against the bearing cup front face and the housing bore. The seal inside diameter is rubber covered and pressed onto the large cone rib diameter. The seal must be retained with a spacer or shaft shoulder.
                    </p>
                    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 6                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cw.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cw.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cw.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CW</h3>
                    <p class="cs-item-text">
                        The CW is an extra heavy-duty triple lipped seal used in deep water sheave applications. The heavy-gauge steel case is rubber covered for maximum corrosion protection. This exclusive lip design gives improved sealing at greater water depths. Rubber on the inside diameter of the metal case provides a positive seal against the shaft. The Excluder Seal® also features an elastomer locator lip that positions the seal onto the bearing cone for easy, accurate assembly. This seal is also used in dam gates and on irrigation and marine equipment.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cw1.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cw1.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cw1.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CW1</h3>
                    <p class="cs-item-text">
                        The CW1 is an extra heavy-duty triple lip design that gives superb bearing protection from contaminants. The three lips open during bearing re-lubrication to allow excess grease to be flushed from the bearing cavity. Two excluder lips contact the housing bore while one excluder lip seals on the cup front face. Rubber on the inside diameter of the metal case provides a positive seal against the shaft. The heavy-gauge steel case is rubber covered for maximum corrosion protection. For accurate assembly, the CW1 Excluder Seal® features an elastomeric locator lip to position the seal onto the bearing cone.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cy.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cy.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cy.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CY</h3>
                    <p class="cs-item-text">
                        Designed for sheave applications requiring absolute minimum lubricant leakage past the seal. Double outside lip seal gives excellent protection against contaminants and assures minimum leakage. Bearing lubricating system must include pressure relief of excess lubricant. Heavy gauge steel case is securely clamped between bearing cone back face and shaft shoulder.
                    </p>
                    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cy3.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cy3.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cy3.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CY3</h3>
                    <p class="cs-item-text">
                        The CY3 has three excluder lips that provide maximum contaminant exclusion. The lips seal against the housing bore. The CY3 Excluder Seal® also features an elastomer locator lip that positions the seal onto the bearing cone for easy, accurate assembly. The partial rubber exterior aids in protecting the seal. This design provides a grease-flushing feature.
                    </p>
                    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 7                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
         
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cye.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cye.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cye.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">CYE</h3>
                    <p class="cs-item-text">
                        CYE style seals are designed for applications requiring less drag than other types of tapered roller bearing seals. The two excluder lips provide excellent contaminant exclusion. The lips seal against the bearing cup's front face and the housing bore. This design provides a grease-flushing feature that removes spent grease and improves bearing life. The heavy-gauge steel case is clamped between the cone back face and the shaft shoulder. The CYE Excluder Seal® also features an elastomer locator lip that positions the seal onto the bearing cone for easy, accurate assembly.
                    </p>
                   
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/6000.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/6000.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/6000.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">6000 SERIES</h3>
                    <p class="cs-item-text">
                        The 6000 series seals are used in applications where excessive thrust load (fleet angle) could exceed the press fit of the bearing cup in the housing (sheave) bore. A machined metal ring provides a shoulder to positively retain the cup. The 6000 series seal is designed to work with the machined ring to retain bearing grease and provide maximum protection from contaminants. The 6000 series Sheave Seal® is available in CA, CE, and CS types. These seals are used on marine docks and aboard ships where the heavy loads swivel and shift.
                    </p>
                    
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            
        </ul>
    </div>
</section>
                                                   

    {% include 'components/cta.html' %}

{% endblock %}