---
title: 'Crown Block | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'crownblockcasestudy/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/casestudy.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Case Studies</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
           

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Custom Designed & Manufactured Nitrile Sheave Seal for the Oil &; Gas Industry</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/crown-block-oil-derrick.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/crown-block-oil-derrick.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/crown-block-oil-derrick.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                Crown block sheaves, located at the top of drilling rigs, are notoriously difficult to repair,
                making seal failures a significant challenge. One of the world’s largest drilling operators
                approached Clark Seals to address the high failure rates and installation issues
                affecting these critical components.
            </p>
            <p class="cs-text">
                Through extensive on-site analysis, it was determined that improper installation was the
                primary cause of leakage. Seals were being removed with screwdrivers and installed
                with hammers, which damaged both the sheave and seal, leading to premature failure.
            </p>
            <p class="cs-text">
                Clark Seals engineers tackled this issue by employing innovative sealing principles not
                previously available in the industry. They focused on optimizing seal installation and
                retention forces, conducting tests on both lubricated and dry seals. The team explored a
                range of variables, including seal tolerances, installation and removal forces, rubber and
                metal case thicknesses, and interference between the rubber outer diameter and the
                sheave bore. Additionally, custom elastomers were formulated to reduce strain and
                improve retention forces.
            </p>

            

            <p class="more-info"></p>
           
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1598">
    <div class="cs-container">
        <div class="cs-content">
           
           
            <p class="cs-text">
                The result was a groundbreaking design — the world’s first hand-installable seal. This
                solution not only addressed the specific needs of the oil and gas industry but also
                represented one of the most significant advancements in seal technology in the past 20
                years. Today, Clark Sheave Seals are used in over 95% of sheave applications globally
                and are being tested in other industries with similarly challenging installation
                requirements.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/sheave-seal-drawing-thumb.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/sheave-seal-drawing-thumb.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/sheave-seal-drawing-thumb.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/sheave-seal-thumb.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/sheave-seal-thumb.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/shaeve-seal-thumb.jpg" alt="people" width="608" height="662">
            </picture>
         
        </div>

    </div>
 

</section>
<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Case Study</span>
            <h2 class="cs-title">Seal Specifications</h2>
                <a href="https://clarkseals.com" class="cs-button-more-info">For more information, visit clarkseals.com</a>
            
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-tr">
                    <th class="cs-th">Product Name</th>
                    <th class="cs-th">Sheave Seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Product Description</th>
                    <th class="cs-th">Patented Hand-Install Sheave Seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Capabilities Applied/Processes</th>
                    <th class="cs-th">Problem Seal Analysis</th>
                    <th class="cs-th">Precision Manufacturing</th>
                    <th class="cs-th">Custom AutoCAD Seal Design</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Manufacturing Equipment Used</th>
                    <th class="cs-th">Tapered Roller Bearing Sheave</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Overall Dimensions of the Seal</th>
                    <th class="cs-th">Ö6.503 x 0.437 (OD x H)</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Tightest Tolerances Met</th>
                    <th class="cs-th">RMA standards, .001"</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Material Used</th>
                    <th class="cs-th">ELASTOMER: NITRILE</th>
                    <th class="cs-th">METAL CASE: Carbon Steel</th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Features</th>
                    <th class="cs-th">Patented Hand-Install Design</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Benefits</th>
                    <th class="cs-th">Resists Compression Set and Stress Relaxation @ Low </th>
                    <th class="cs-th">Remains More Flexible During Long Periods of Idleness</th>
                    <th class="cs-th">Elastomer with low friction coefficient ingredients.</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">In process testing performed</th>
                    <th class="cs-th">Field Testing</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Estimated Part Weight</th>
                    <th class="cs-th">0.236 lbs</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Standards Met</th>
                    <th class="cs-th">Nitrile resp. ASTM D2000 M2BG 714</th>
                    <th class="cs-th">Metal case material spec.: SAE 1008</th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Industry for Use</th>
                    <th class="cs-th">Oil & Gas</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Delivery Location</th>
                    <th class="cs-th">United States and around the world</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
            </thead>
        </table>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}