---
title: 'End Caps | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'EndCaps/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Products</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2291">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">End Caps</h2>
            <p class="cs-text">
                End caps are designed to seal the open end of a housing or bore, preventing the ingress of contaminants and the escape of lubricants in static sealing applications. Typically installed with a secure interference fit, end caps provide a reliable seal without the need for additional fasteners or adhesives, simplifying assembly and maintenance. Made from robust materials such as rubber-coated metal or high-performance polymers, end caps withstand exposure to dirt, moisture, and varying temperatures, making them ideal for use in gearboxes, motors, and housings.
            </p>
            <div class="cs-features">
                <h3 class="cs-h3">Key Features:</h3>
                <ul class="cs-ul">
                    <li class="cs-li">Effective Shaft Bore Closure</li>
                    <li class="cs-li">Durable, Press-Fit Design</li>
                    <li class="cs-li">Resistant to Environmental Exposure</li>
                </ul>
            </div>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
           
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/closingcap5.jpg?updatedAt=1748814960826">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/closingcap5.jpg?updatedAt=1748814960826">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/closingcap5.jpg?updatedAt=1748814960826" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                                   

    {% include 'components/cta.html' %}

{% endblock %}