---
title: 'Energy | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'energy/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                  Landing Video               -->
<!-- ============================================ -->

<section id="cta-2236">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Energy</h2>
            <p class="cs-text">
                Our seals ensure reliable operation in oil, gas, and renewable energy applications under extreme conditions.
            </p>
        </div>
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a picture instead of a video.-->
            <video autoplay loop muted loading="lazy" src="https://ik.imagekit.io/6ycdefzj5/oilrig.mp4?updatedAt=1739677450877"></video>
        <!-- <picture class="cs-picture">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg" alt="wedding" width="1720" height="547">
            </picture> -->
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-456">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Industry</span>
            <h2 class="cs-title">Energy </h2>
            <p class="cs-text">
                The energy industry, including oil, gas, and renewable energy sectors, operates in some of the most extreme and demanding environments. From deep-sea drilling rigs to high-pressure pipelines and power generation systems, reliable sealing solutions are essential to prevent leaks, maintain system integrity, and ensure operational safety. Clark Seals designs and manufactures high-performance seals that withstand extreme temperatures, aggressive chemicals, and high-pressure conditions found in energy exploration, refining, and distribution. Our precision-engineered seals help reduce downtime, enhance equipment longevity, and improve efficiency, making them a critical component in the safe and reliable operation of energy infrastructure worldwide.
            </p>
           
            
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/energy.jpg">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/energy.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/energy.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}