---
title: 'Gaskets| Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'gaskets/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Products</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2291">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Gaskets</h2>
            <p class="cs-text">
                Gaskets create a tight, leak-proof seal between flat mating surfaces, preventing the escape of fluids or gases in static applications such as flanges, housings, and enclosures. Available in a wide range of materials—such as rubber, PTFE, graphite, and metal—gaskets can be tailored for compatibility with temperature extremes, chemical exposure, and pressure demands. Gaskets can be precision-cut or molded to fit complex shapes and tight tolerances, ensuring an exact fit and optimal sealing performance in specialized applications.
            </p>
            <div class="cs-features">
                <h3 class="cs-h3">Key Features:</h3>
                <ul class="cs-ul">
                    <li class="cs-li">Reliable Static Sealing</li>
                    <li class="cs-li">Material Versatility</li>
                    <li class="cs-li">Customizable for Complex Geometries</li>
                </ul>
            </div>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Gasket%20Render.jpg?updatedAt=1751483955045">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Gasket%20Render.jpg?updatedAt=1751483955045">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Gasket%20Render.jpg?updatedAt=1751483955045" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                                   

    {% include 'components/cta.html' %}

{% endblock %}