---
title: 'Clark Seals Services'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'heroservices/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/heroservices.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RTsbs-1281">
    <div class="cs-container" id="custom-seal-design">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/Seak%20Deisn%20Pic.jpg?updatedAt=1741699295277">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/Seak%20Deisn%20Pic.jpg?updatedAt=1741699295277">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/Seak%20Deisn%20Pic.jpg?updatedAt=1741699295277" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content" >
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Custom Seal Design</h2>
            </div>
            <p class="cs-text">
                Custom seals are specifically designed and optimized for each application, ensuring
                maximum reliability and performance. Unlike standard seals, Clark Seals&#39; custom
                designs are engineered with precision through an extensive 144-point evaluation
                process. Every operational variable is carefully analyzed to fine-tune and enhance
                critical design elements, including case design, beam length, flex thickness, spring
                position, spring tension, head height, interference, contact width, and lip geometry.
            </p>
            <p class="cs-text">
                Custom seals from Clark Seals are designed within approximately 7 days, cost the
                same as standard seals, and have a lifespan of 7-10 times longer than standard
                designs.
            </p>
            
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/circles.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/circles.svg">
        <img loading="lazy" decoding="async" src="/assets/images/circles.svg" alt="waves" width="960" height="839">
    </picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1281" >
    <div class="cs-container" id="application-engineering">
        <picture class="cs-picture" >
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsdesign.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsdesign.jpg">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/clarksealsdesign.jpg" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content" >
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Application Engineering</h2>
            </div>
            <p class="cs-text">
                Clark Seals offers comprehensive engineering support for both new and existing
                applications, aiming to enhance seal performance and extend equipment life. As a
                specialized seal engineering firm, we collaborate closely with equipment engineers to
                optimize key elements such as lubricants, materials, fluid levels, shaft and housing
                hardness, surface finish, tolerances, chamfers, and eccentricity. This ensures the ideal
                sealing conditions for maximum efficiency and longevity.
            </p>
            
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/circles.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/circles.svg">
        <img loading="lazy" decoding="async" src="/assets/images/circles.svg" alt="waves" width="960" height="839">
    </picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Triplet             -->
<!-- ============================================ -->

<section id="RTsbst-1281">
    <div class="cs-container" id="problem-seal-analysis">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/Optical%20Comparitor%20Pic.jpg?updatedAt=1741699295798">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/Optical%20Comparitor%20Pic.jpg?updatedAt=1741699295798">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/Optical%20Comparitor%20Pic.jpg?updatedAt=1741699295798" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content" >
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Problem Seal Analysis</h2>
            </div>
            <p class="cs-text">
                Clark Seals can diagnose and redesign most problem seals within 24 hours. Our seal
                engineering team swiftly analyzes the failed seal and reviews the equipment and
                operating variables to identify the root cause(s) of failure. Using our proprietary seal
                optimization protocol, a custom design is created in AutoCAD and sent to the customer
                for review. We prioritize seal failures and make every effort to resolve the issue within
                24 hours.
            </p>
            
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/circles.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/circles.svg">
        <img loading="lazy" decoding="async" src="/assets/images/circles.svg" alt="waves" width="960" height="839">
    </picture>
</section>
<!-- ============================================ -->
<!--             Side By Side Fourth             -->
<!-- ============================================ -->

<section id="RTsbsr-1281">
    <div class="cs-container" id="precision-manufacturing">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/Presses.JPG?updatedAt=1741699296973">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/Presses.JPG?updatedAt=1741699296973">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/Presses.JPG?updatedAt=1741699296973" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Precision Manufacturing</h2>
            </div>
            <p class="cs-text">
                For over 70 years, Clark Seals has set the industry standard for rotary seal
                manufacturing, delivering the most precise and consistent sealing solutions available.
                Since 1956, our bearing seal manufacturing plant in Tulsa, Oklahoma, has produced
                seals of the highest quality, with zero defects or seal failures in more than 50 years. In
                addition to our domestic manufacturing, we maintain the same level of excellence with
                our international manufacturing partners, ensuring the highest-quality seals at the most
                competitive prices.
            </p>
            
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/circles.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/circles.svg">
        <img loading="lazy" decoding="async" src="/assets/images/circles.svg" alt="waves" width="960" height="839">
    </picture>
</section>
                                
                 

                  

    {% include 'components/cta.html' %}

{% endblock %}