---
title: 'KC| Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'KC/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/shaftsealsinteriorproducts.css">
{% endblock %}

{% block body %}


                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1161">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/svgs/a2s.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/svgs/a2s.svg">
                <img loading="lazy" decoding="async" src="/assets/svgs/a2s.svg" alt="appliance" width="630" height="390">
            </picture>
            <!--Bottom right image-->
           
            <!--Splash Graphic-->
            
            <!--Tire Mark-->
            
            
        </div>
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">KC</h2>
            <p class="cs-text">
                Double lip economical design, grease retention or sealing viscous fluids. Light dust exclusions. Rubber covered O.D. design for excellent O.D. sealing.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">We handle all makes and models</li>
                <li class="cs-li">We are endorsed by the local trading standards office</li>
                <li class="cs-li">All our technicians are equipped with the latest portable</li>
                <li class="cs-li">Proven results for setting exceptional standards</li>
                <li class="cs-li">Same day service for most repairs</li>
            </ul>
            <a href="" class="cs-button-solid"></a>
            
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1598">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Design</h2>
            <p class="cs-text">
                The rubber outside diameter provides optimized sealing ability in the housing, also at considerable surface roughness or in split housings. The beads on the outside diameter provide improved sealing ability and retention in the bore. They also prevent spring-back during installation.
            </p>
            <p class="cs-text">
                The spring-loaded sealing lip contributes to a quick response in handling dynamic runout and maintaining the sealing performance, even when sealing lip wear is excessive.
            </p>
            <p class="cs-text">
                Sealing lip and flex section are optimally balanced to withstand both high dynamic runout and shaft-to-bore misalignment.
                The auxiliary lip on HMSA10 seals is non-contacting, which means that the seals normally can operate at the same speeds as the single-lip HMS5 seals.
            </p>




            <h2 class="cs-title">Material</h2>
            <p class="cs-text">
                The rubber outside diameter provides optimized sealing ability in the housing, also at considerable surface roughness or in split housings. The beads on the outside diameter provide improved sealing ability and retention in the bore. They also prevent spring-back during installation.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">We handle all makes and models</li>
                <li class="cs-li">We are endorsed by the local trading standards office</li>
                <li class="cs-li">All our technicians are equipped with the latest portable</li>
                <li class="cs-li">Proven results for setting exceptional standards</li>
                <li class="cs-li">Same day service for most repairs</li>
            </ul>
            <br>
            <p class="cs-text">
                The spring-loaded sealing lip contributes to a quick response in handling dynamic runout and maintaining the sealing performance, even when sealing lip wear is excessive.
            </p>
            <p class="cs-text">
                Sealing lip and flex section are optimally balanced to withstand both high dynamic runout and shaft-to-bore misalignment.
                The auxiliary lip on HMSA10 seals is non-contacting, which means that the seals normally can operate at the same speeds as the single-lip HMS5 seals.
            </p>

        </div>   
    </div>
</section>
                 

<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Applications and operating conditions</h2>
            <p class="cs-text">
                HMS5 and HMSA10 seals are designed for oil or grease lubricated applications with operating temperatures ranging from –40 to +100 °C (–40 to +210 °F), short-term up to 120 °C (250 °F). These seals are also appropriate for sealing lubricants within a wide range of viscosities.
            </p>
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-color">
                    <th class="cs-td">Circumferential speed:</th>
                    <th class="cs-th">up to 14 m/s (2 755 ft/min)</th>
                
                </tr>
                <tr class="cs-color">
                    <th class="cs-td">Operating pressure:</th>
                    <th class="cs-th">max 0.05 MPa (7 psi)</th>
                   
                </tr>
            </thead>
           
        </table>
    </div>
</section>
                                
                                
                                
                                                   

    {% include 'components/cta.html' %}

{% endblock %}