---
title: 'News | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'newsinterior4/'
eleventyNavigation:
    key: News
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/newsinterior.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing6.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing6.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing6.jpg" alt="room" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">December 23rd, 2012</span>
            <h2 class="cs-title">Completion of $20M Shaft Seal Factory in Ningbo, China</h2>
            <p class="cs-text">
                Clark Seals announced the completion of its state-of-the-art shaft seal manufacturing facility in Ningbo, China. The ISO/TS certified facility features advanced automation, manufacturing, and testing equipment along with stringent quality control measures. With a capacity of 40 million pieces, Clark Seals Ningbo (CSN) is ready to meet high-volume OEM requirements.
            </p>
            <p class="cs-text">
                "Clark Seals Ningbo is the first high-end shaft seal factory in China," commented Scott Zahn, Vice President of Operations. "CSN manufactures the same quality and consistency as the best Japanese and German factories, at a significantly reduced price, offering manufacturers in the US, Asia, and Europe a tremendous opportunity to improve quality and reduce costs."
            </p>
            <p class="cs-text">
                Following successful factory audits, two leading appliance manufacturers have transitioned their entire seal production to CSN.
            </p>
            <a href="" class="cs-button-solid"></a>
        </div>
    </div>
</section>
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}