---
title: 'News | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'newsinterior5/'
eleventyNavigation:
    key: News
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/newsinterior.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1479">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">June 2, 2001
                <br>
                Tulsa, OK</span>
            <h2 class="cs-title">New Sales Office In Wisconsin
            </h2>
            <p class="cs-text">
                Clark Seals, a leading manufacturer of high-performance rotary shaft seals and custom-molded rubber products, has opened a new sales office in Wisconsin to expand its reach and responsiveness across the upper Midwest. This move is part of the company’s broader initiative to localize support and enhance relationships with equipment manufacturers in key industrial markets.
            </p>
            <br>
            <p class="cs-text">
                Located near several of the region’s largest appliance, agricultural, automotive and outdoor power OEMs, the new office will provide manufacturers with faster access to sales and technical support—all backed by Clark Seals’ commitment to quality, performance, and U.S.-based manufacturing.

            </p>
            <br>
            <p class="cs-text">
                “Our customers in the Midwest are building the machines that keep America running, and they deserve a partner who’s close enough to move at their pace,” said Scott Zahn, President of Clark Seals. “This new office is more than a location—it’s a promise to be present, available, and fully invested in the long-term success of our partners throughout Wisconsin and beyond.”
            </p>
            <br>
            <p class="cs-text">
                With nearly 70 years of experience serving OEMs across industries—including agriculture, energy, transportation, and automation—Clark Seals continues to lead with innovation, speed, and customer-first service.
            </p>
            <br>
            <p class="cs-text">
                For more information, visit www.clarkseals.com or contact info@clarkseals.com.
            </p>
        </div>
        
    </div>
</section>
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}