---
title: 'News | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'newsinterior6/'
eleventyNavigation:
    key: News
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/newsinterior.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1479">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">January 16, 2023
                <br>
                Tulsa, OK</span>
            </h2>
            <p class="cs-text">
                Clark Seals, a leading manufacturer of high-performance rotary shaft seals and custom-molded rubber products, has announced the opening of a new sales office in Indiana to strengthen service and support for customers across the Midwest and Great Lakes region.
            </p>
            <br>
            <p class="cs-text">
                This expansion positions Clark Seals closer to a growing base of Original Equipment Manufacturers in the region. The Indiana office will offer regional customers faster response times, improved access to technical resources, and direct collaboration with field-based sealing experts.

            </p>
            <br>
            <p class="cs-text">
                “Opening a dedicated sales office in Indiana allows us to provide 24-hour support and a more hands-on experience to customers in the Midwest,” said Scott Zahn, President of Clark Seals. “This is part of our broader effort to deliver the highest level of service and technical expertise to manufacturers across the country.”
            </p>
            <br>
            <p class="cs-text">
                The move aligns with Clark Seals’ long-term strategy to invest in regional infrastructure that enhances customer experience and supports rapid, local decision-making. With engineering, inventory, and manufacturing operations based in the United States, Clark Seals continues to set the standard for responsiveness and reliability in the sealing industry.

            </p>
            <br>
            <p class="cs-text">
                For more information, visit www.clarkseals.com or contact info@clarkseals.com.
            </p>
        </div>
        
    </div>
</section>                   
                                
    {% include 'components/cta.html' %}

{% endblock %}