---
title: 'News | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'newsinterior2/'
eleventyNavigation:
    key: News
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/newsinterior.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1479">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">September 24, 2024 
                <br>
                Tulsa, OK</span>
            <h2 class="cs-title">Recognition from Alliance Laundry Systems
            </h2>
            <p class="cs-text">
                Clark Seals, a trusted supplier of high-performance sealing solutions, is proud to announce it has been nominated for the 2024 Supply Chain Resilience Award by Alliance Laundry Systems, the world’s leading manufacturer of commercial laundry equipment.
            </p>
            <br>
            <p class="cs-text">
                This nomination recognizes Clark Seals for its outstanding performance across three critical areas:
            
            </p>
            <p class="cs-text">
                <ul>
                    <li>Zero PPM (Parts Per Million) defect rate</li>
                    <li>100% On-Time Delivery</li>
                    <li>Industry-Leading Customer Service</li>
                  </ul>
            </p>
            <br>
            <br>
            <p class="cs-text">
                These metrics reflect the company’s ability to deliver consistent quality, operational reliability, and exceptional support in a challenging global supply chain environment.
            </p>
            <br>
            <p class="cs-text">
                “Earning this recognition from Alliance Laundry Systems is a tremendous honor,” said Scott Zahn, President of Clark Seals. “To achieve zero defects, perfect delivery, and top-tier service in the same year speaks to the discipline of our operations and the commitment of our team. We’re proud to support Alliance’s mission with performance they can count on.”
            </p>
            <br>
            <p class="cs-text">
                For more than 65 years, Clark Seals has been a go-to partner for OEMs in need of precision sealing solutions backed by responsive service and USA-based manufacturing. This award highlights the company’s ability to adapt, deliver, and lead—even in the face of supply chain disruption.
            </p>
            <br>
            <p class="cs-text">
                For more information, visit www.clarkseals.com or contact info@clarkseals.com.
            </p>
            
        </div>
        
    </div>
</section>
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}