---
title: 'News | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'newsinterior4/'
eleventyNavigation:
    key: News
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/newsinterior.css">
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                 Why Choose Us                -->
<!-- ============================================ -->

<section id="why-choose-1479">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">DECEMBER 23RD, 2012</span>
            <h2 class="cs-title">Completion of $20M Shaft Seal Factory in Ningbo, China</h2>
            <p class="cs-text">
                Clark Seals announced the completion of its state-of-the-art shaft seal manufacturing facility in Ningbo, China. The ISO/TS certified facility features advanced automation, manufacturing, and testing equipment along with stringent quality control measures. With a capacity of 40 million pieces, Clark Seals Ningbo (CSN) is ready to meet high-volume OEM requirements.
            </p>
            <br>
            <p class="cs-text">
                "Clark Seals Ningbo is the first high-end shaft seal factory in China," commented Scott Zahn, Vice President of Operations. "CSN manufactures the same quality and consistency as the best Japanese and German factories, at a significantly reduced price, offering manufacturers in the US, Asia, and Europe a tremendous opportunity to improve quality and reduce costs."
            </p>
            <br>
            <p class="cs-text">
                Following successful factory audits, two leading appliance manufacturers have transitioned their entire seal production to CSN.
            </p>
            <br>
        </div>
        
    </div>
</section>


                                
                                
    {% include 'components/cta.html' %}

{% endblock %}