---
title: 'News | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'newsinterior8/'
eleventyNavigation:
    key: News
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/newsinterior.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing6.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing6.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing6.jpg" alt="room" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">August 26th, 2022</span>
            <h2 class="cs-title"> Clark Seals Hires Jesse Slagell as Director of Engineering</h2>
            <p class="cs-text">
                Clark Seals, a fluid sealing technology company, announced that Jesse Slagell has joined as Director of Engineering to oversee the company's engineering operations and initiatives.
            </p>
            <p class="cs-text">
                Prior to joining, Slagell served as Senior Product Engineer for Parker Hannifin where he designed custom rotary seals for various applications including Automotive, Aerospace, Military, and Industrial. He holds degrees in Mechanical Engineering, Mathematics, and Applied Science from LeTourneau University.
            </p>
            <p class="cs-text">
                "Jesse brings a wealth of engineering expertise to our company," commented Scott Zahn, Director of Business Development. "His commitment to building a world-class seal engineering program will strengthen our products and services and play an important role in our company's future development."
            </p>
         
            <a href="" class="cs-button-solid"></a>
        </div>
    </div>
</section>
                                
                                
    {% include 'components/cta.html' %}

{% endblock %}