---
title: 'O-Rings| News | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'O-Rings/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/o-rings.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Products</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
            <img aria-hidden="true" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RTsbs-1281">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/O-Ring1.jpg?updatedAt=1748814960838">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/O-Ring1.jpg?updatedAt=1748814960838">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/O-Ring1.jpg?updatedAt=1748814960838" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">O-Rings</h2>
            </div>
            <p class="cs-text">
                An O-ring is a simple yet highly effective sealing element, shaped like a torus (or doughnut), used to prevent the passage of fluids or gases between two closely fitting surfaces. Made from elastomeric materials, O-rings are seated in grooves and compressed during assembly to create a leak-proof seal. They are widely used in hydraulic, pneumatic, and static or dynamic applications due to their durability, ease of installation, and cost-effectiveness.

            </p>
            
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg" alt="waves" width="960" height="839">
    </picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1281">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">D-Rings</h2>
            </div>
            <p class="cs-text">
                D-Rings are specialized elastomeric seals with a flat base and rounded top, combining the stability of a flat profile with the sealing efficiency of an O-ring. The flat base prevents rolling or twisting in the groove, making D-Rings ideal for reciprocating and static applications where reliable sealing and proper alignment are critical. Commonly used in hydraulic systems, D-Rings offer enhanced resistance to extrusion, pressure, and wear.
            </p>
            
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture>
</section>

<!-- ============================================ -->
<!--             Side By Side Triplet             -->
<!-- ============================================ -->

<section id="RTsbst-1281">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Quad-Rings</h2>
            </div>
            <p class="cs-text">
                Rubber Quad Rings, also known as X-rings, feature a four-lobed design that provides twice the sealing contact of standard O-rings. This unique geometry improves stability, reduces rolling and twisting in dynamic applications, and offers superior sealing performance under pressure. Ideal for both static and reciprocating motion, Quad Rings minimize friction and wear while delivering reliable, long-lasting performance across a wide range of temperatures and fluids.
            </p>
            
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg" alt="waves" width="960" height="839">
    </picture>
</section>

                                                   

    {% include 'components/cta.html' %}

{% endblock %}