---
title: 'Outdoorpowert | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'outdoorpower/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                  Landing Video               -->
<!-- ============================================ -->

<section id="cta-2236">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Outdoor Power</h2>
            <p class="cs-text">
                Clark Seals protects outdoor power equipment from dirt, water, and wear for extended performance.
            </p>
        </div>
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a picture instead of a video.-->
            <video autoplay loop muted loading="lazy" src="https://ik.imagekit.io/6ycdefzj5/atv.mp4?updatedAt=1739679061576"></video>
        <!-- <picture class="cs-picture">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg" alt="wedding" width="1720" height="547">
            </picture> -->
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-456">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Industry</span>
            <h2 class="cs-title">Outdoor Power</h2>
            <p class="cs-text">
                Outdoor power equipment, including lawn mowers, ATVs, utility vehicles, and power tools, operates in rugged environments where exposure to dirt, water, mud, and extreme temperatures is constant. Reliable sealing solutions are essential to protect engines, transmissions, and hydraulic systems from contaminants and ensure peak performance in harsh conditions. Clark Seals provides durable, high-performance seals designed to withstand heavy vibrations, high speeds, and extreme weather, extending the lifespan of outdoor power equipment. Our precision-engineered seals help reduce maintenance, prevent leaks, and keep engines and critical components running smoothly, ensuring durability and reliability for both recreational and professional use.
            </p>
           
            
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/outdoor.jpg">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/outdoor.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/outdoor.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}