---
title: 'Powertransmission | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'powertransmission/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                  Landing Video               -->
<!-- ============================================ -->

<section id="cta-2236">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Power Transmission</h2>
            <p class="cs-text">
                We provide precision seals that prevent leaks and reduce friction in gearboxes and motors.
            </p>
        </div>
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a picture instead of a video.-->
            <video autoplay loop muted loading="lazy" src="https://ik.imagekit.io/6ycdefzj5/powertransmission.mp4?updatedAt=1739679762398"></video>
        <!-- <picture class="cs-picture">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg" alt="wedding" width="1720" height="547">
            </picture> -->
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-456">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Industry</span>
            <h2 class="cs-title">Power Transmission</h2>
            <p class="cs-text">
                Power transmission systems are the backbone of industrial machinery, automotive drivetrains, and heavy equipment, requiring reliable sealing solutions to ensure efficiency, durability, and smooth operation. Seals play a crucial role in preventing lubricant leaks, keeping out contaminants, and reducing friction in gearboxes, couplings, drives, and other transmission components. Clark Seals provides high-performance sealing solutions engineered to withstand extreme pressures, high rotational speeds, and harsh operating conditions. Our precision seals enhance the longevity and reliability of power transmission systems, minimizing downtime and maximizing performance across a wide range of industries.
            </p>
           
            
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/powertransmission.jpg">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/powertransmission.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/powertransmission.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}