---
title: 'Powertools | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'powertools/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                  Landing Video               -->
<!-- ============================================ -->

<section id="cta-2236">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Power Tools</h2>
            <p class="cs-text">
                Our seals enhance power tool durability by preventing dust, vibration, and excessive wear.
            </p>
        </div>
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a picture instead of a video.-->
            <video autoplay loop muted loading="lazy" src="https://ik.imagekit.io/6ycdefzj5/powertools.mp4?updatedAt=1739679447673"></video>
        <!-- <picture class="cs-picture">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg" alt="wedding" width="1720" height="547">
            </picture> -->
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-456">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Industry</span>
            <h2 class="cs-title">Power Tools</h2>
            <p class="cs-text">
                Power tools operate in demanding environments, requiring durable and high-performance seals to ensure reliability, efficiency, and long-term durability. Whether for handheld drills, saws, grinders, or heavy-duty industrial equipment, seals play a critical role in protecting internal components from dust, debris, moisture, and extreme operating conditions. Clark Seals designs precision-engineered sealing solutions that enhance tool performance, prevent premature wear, and improve resistance to vibration, heat, and heavy usage. Our advanced seals help manufacturers create rugged, long-lasting power tools that meet the needs of both professionals and DIY users, ensuring optimal functionality in any work environment.
            </p>
           
            
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/powertools.jpg">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/powertools.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/powertools.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}