---
title: 'Products| Clark Seal'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'productsmain/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/productsmain.css">
{% endblock %}

{% block body %}




<!-- ============================================ -->
<!--                Services 3x4                  -->
<!-- ============================================ -->

<section id="services-1169">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper"></span>
      <h2 class="cs-title">Products</h2>
      <p class="cs-text">
          Clark Seals designs and manufactures various custom sealing products for Original Equipment Manufacturers using the latest design innovations and material advancements. Our sealing products are over-engineered and precisely manufactured to insure maximum reliability and performance.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Radial Shaft Seals</h3>
          <p class="cs-item-text">
            
          </p>
          <a href="/project-one" class="cs-link">
              Go to product family
            <img
                  class="cs-arrow"
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                  alt="icon"
                  width="20"
                  height="20"
                  aria-hidden="true">
          </a>
        </div>
      </li>
      <li class="cs-item">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Cassette Seals</h3>
          <p class="cs-item-text">
            
          </p>
          <a href="/project-two" class="cs-link">
              Go to product family
            <img
                  class="cs-arrow"
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                  alt="icon"
                  width="20"
                  height="20"
                  aria-hidden="true">
          </a>
        </div>
      </li>
      
      <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Bearing Seals</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/bearingseals" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Mechanical Seals</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/mechanicalseals" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">PTFE Seals</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/ptfeseals" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">U-Cups</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/U-Cups" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">O-Rings</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/O-Rings" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Gaskets</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/gaskets" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Valve Seals</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/valveseals" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">End Caps</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/EndCaps" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Hydraulic Seals</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/HydraulicSeals" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/newcasset.png?updatedAt=1744743253915"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Custom Molded Rubber Products</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/customproducts" class="cs-link">
              Go to product family
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
    </ul>
  </div>
</section>
               

                                                   

    {% include 'components/cta.html' %}

{% endblock %}