---
title: 'Products| Clark Seal'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'productsmain/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/productsmain.css">
{% endblock %}

{% block body %}




  <!-- ============================================ -->
<!--                  Services  4x3                 -->
<!-- ============================================ -->

<section id="services-1168">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper"></span>
      <h2 class="cs-title">Products</h2>
      <p class="cs-text">
        
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="/project-one" class="cs-full-link" aria-label="View Radial Shaft Seals"></a>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/shaftseal3.jpg?updatedAt=1748814960843">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/shaftseal3.jpg?updatedAt=1748814960843">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/shaftseal3.jpg?updatedAt=1748814960843"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Radial Shaft Seals</h3>
          <p class="cs-item-text">
            
          </p>
          <a href="/project-one" class="cs-link">
              
            
          </a>
        </div>
      </li>
      <li class="cs-item">
        <a href="/project-two" class="cs-full-link" aria-label="View Cassette Seals"></a>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/cassesstseal4.jpg?updatedAt=1748814960913">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/cassesstseal4.jpg?updatedAt=1748814960913">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/cassesstseal4.jpg?updatedAt=1748814960913"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Cassette Seals</h3>
          <p class="cs-item-text">
            
          </p>
          <a href="/project-two" class="cs-link">
              
            
              


          </a>
        </div>
      </li>
      <li class="cs-item">
        <a href="/bearingseals" class="cs-full-link" aria-label="View Bearing Seals"></a>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/bearingseal6.jpg?updatedAt=1748814960763">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/bearingseal6.jpg?updatedAt=1748814960763">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/bearingseal6.jpg?updatedAt=1748814960763"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Bearing Seals</h3>
          <p class="cs-item-text">
            
          </p>
          <a href="/bearingseals" class="cs-link">
          
            
          </a>
        </div>
      </li>
      <li class="cs-item">
        <a href="/mechanicalseals" class="cs-full-link" aria-label="View Mechanical Seals"></a>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="hhttps://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Mechanical%20Seal%20Render%202.jpg?updatedAt=1751483955046">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Mechanical%20Seal%20Render%202.jpg?updatedAt=1751483955046">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Mechanical%20Seal%20Render%202.jpg?updatedAt=1751483955046"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Mechanical Seals</h3>
          <p class="cs-item-text">

          </p>
          <a href="/mechanicalseals" class="cs-link">
              
           
          </a>
        </div>
      </li>
      <li class="cs-item">
        <a href="/ptfeseals" class="cs-full-link" aria-label="View PTFE Seals"></a>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/PTFE%20Seal%20Render.jpg?updatedAt=1751483955064">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/PTFE%20Seal%20Render.jpg?updatedAt=1751483955064">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/PTFE%20Seal%20Render.jpg?updatedAt=1751483955064"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">PTFE Seals</h3>
          <p class="cs-item-text">
            
          </p>
          <a href="/ptfeseals" class="cs-link">
            
            
          </a>
        </div>
      </li>
      <li class="cs-item">
        <a href="/U-Cups" class="cs-full-link" aria-label="View U-Cups"></a>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/U-Cup%20Render.jpg?updatedAt=1751483955075">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/U-Cup%20Render.jpg?updatedAt=1751483955075">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/U-Cup%20Render.jpg?updatedAt=1751483955075"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">U-Cups</h3>
          <p class="cs-item-text">
            
          </p>
          <a href="/U-Cups" class="cs-link">
              
           
          </a>
        </div>
      </li>
      <li class="cs-item">
        <a href="/O-Rings" class="cs-full-link" aria-label="View O-Rings"></a>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/O-Ring1.jpg?updatedAt=1748814960838">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/O-Ring1.jpg?updatedAt=1748814960838">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/O-Ring1.jpg?updatedAt=1748814960838"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">O-Rings</h3>
          <p class="cs-item-text">
            
          </p>
          <a href="/O-Rings" class="cs-link">
              
            
          </a>
        </div>
      </li>
      <li class="cs-item">
        <a href="/gaskets" class="cs-full-link" aria-label="View Gaskets"></a>
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
                media="(max-width: 600px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Gasket%20Render.jpg?updatedAt=1751483955045">
          <!--Tablet and above Image-->
          <source
                media="(min-width: 601px)"
                srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Gasket%20Render.jpg?updatedAt=1751483955045">
          <img
                loading="lazy"
                decoding="async"
                src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Gasket%20Render.jpg?updatedAt=1751483955045"
                alt="mechanic"
                width="413"
                height="240"
                aria-hidden="true">
        </picture>
        <div class="cs-info">
          <h3 class="cs-h3">Gaskets</h3>
          <p class="cs-item-text">
            
          </p>
          <a href="/gaskets" class="cs-link">
              
            
          </a>
        </div>
      </li>
      <li class="cs-item">
          <a href="/valveseals" class="cs-full-link" aria-label="View Valve Seals"></a>
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Valve%20Seal%20Render.jpg?updatedAt=1751483959990">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Valve%20Seal%20Render.jpg?updatedAt=1751483959990">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/Valve%20Seal%20Render.jpg?updatedAt=1751483959990"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Valve Seals</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/valveseals" class="cs-link">
              
              
            </a>
          </div>
        </li>
        <li class="cs-item">
          <a href="/EndCaps" class="cs-full-link" aria-label="View End Caps"></a>
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/closingcap5.jpg?updatedAt=1748814960826">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/closingcap5.jpg?updatedAt=1748814960826">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/closingcap5.jpg?updatedAt=1748814960826"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">End Caps</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/EndCaps" class="cs-link">
             
             
            </a>
          </div>
        </li>
        <li class="cs-item">
          <a href="/HydraulicSeals" class="cs-full-link" aria-label="View Hydraulic Seals"></a>
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/hydaulicseal2.jpg?updatedAt=1748814960801">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/hydaulicseal2.jpg?updatedAt=1748814960801">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/Untitled%20design-2/hydaulicseal2.jpg?updatedAt=1748814960801"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Hydraulic Seals</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/HydraulicSeals" class="cs-link">
              
              
            </a>
          </div>
        </li>
        <li class="cs-item">
          <a href="/customproducts" class="cs-full-link" aria-label="View Custom Molded Rubber Products"></a>
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/ISE%20Baffle%20Render.jpg?updatedAt=1751483955045">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/ISE%20Baffle%20Render.jpg?updatedAt=1751483955045">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/fwsealimages/ISE%20Baffle%20Render.jpg?updatedAt=1751483955045"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Custom Molded Rubber Products</h3>
            <p class="cs-item-text">
              
            </p>
            <a href="/customproducts" class="cs-link">
              
             
            </a>
          </div>
        </li>
    </ul>
  </div>
</section>
                   
           
              

                                                   

    {% include 'components/cta.html' %}

{% endblock %}