---
title: 'Cassette Seal | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-two/'
eleventyNavigation:
    key: Project Two
    order: 3200
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Products</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2291">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Cassette Seals</h2>
            <p class="cs-text">
                Cassette seals feature multiple sealing lips within a single housing, offering enhanced protection against contaminants like dirt, water, and mud—ideal for harsh operating environments. The all-in-one, pre-greased design simplifies installation, eliminates lip damage during assembly, and ensures consistent performance without the need for additional sealing components. Built to withstand high loads, misalignment, and shaft wear, cassette seals are commonly used in heavy-duty applications such as agricultural equipment, off-highway vehicles, and industrial gearboxes.
            </p>
            <div class="cs-features">
                <h3 class="cs-h3">Key Features:</h3>
                <ul class="cs-ul">
                    <li class="cs-li">Integrated Multi-Lip Design</li>
                    <li class="cs-li">Pre-Assembled Cartridge Construction</li>
                    <li class="cs-li">Durability in Extreme Conditions</li>
                </ul>
            </div>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <span class="cs-number">12K+</span>
                <div class="cs-flex">
                    <h3 class="cs-heading">Square Meters Paved</h3>
                    <span class="cs-desc">Hardscaping projects that combine beauty and functionality.</span>
                </div>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/cassetteseals.jpg">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/cassetteseals.jpg">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/cassetteseals.jpg" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                              

    {% include 'components/cta.html' %}

{% endblock %}