---
title: 'Project One | Better Website Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-one/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/radialshaftseals.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Products</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
<!-- ============================================ -->
<!--                Services Row 1                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Radial Shaft Seals</h2>
            </div>
            <p class="cs-text">
                Shaft Seals, also known as lip seals or oil seals, are used with rotating, reciprocating and oscillating shafts to contain fluids and exclude contaminants. They are available in inch and metric dimensions and single and double lip designs. Various lip materials are available to suit design requirements such as temperature and chemical resistance. Clark Seals designs and manufacturers custom shaft seals that are perfectly matched to each application, ensuring maximum reliability and performance. Some of our more common shaft seal designs are shown below.
            </p>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/a2s.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/a2s.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/a2s.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">SA2</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with an inner case for greater structural rigidity.
                    </p>
                    <p class="cs-item-text">
                        Single lip, spring loaded. Low pressure-fluid sealing applications and severe grease sealing conditions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/at2.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/at2.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/at2.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">TA2</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with an inner case for greater structural rigidity.
                    </p>
                    <p class="cs-item-text">
                        Double lip, spring loaded. Low pressure-fluid sealing and severe grease sealing conditions with light dust exclusions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/a2v.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/a2v.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/a2v.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">VA2</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with an inner case for greater structural rigidity.
                    </p>
                    <p class="cs-item-text">
                        Economical design, single lip for grease retention or sealing viscous fluids.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/a2k.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/a2k.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/a2k.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">KA2</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with an inner case for greater structural rigidity.
                    </p>
                    <p class="cs-item-text">
                        Double lip economical design, grease retention or sealing viscous fluids. Light dust exclusions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 2                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/b2s.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/b2s.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/b2s.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">SB2</h3>
                    <p class="cs-item-text">
                        Most common and economical metal O.D. design.
                    </p>
                    <p class="cs-item-text">
                        We provide some of the finest quality, most reliable, and cost effective services and solutions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/b2t.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/b2t.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/b2t.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">TB2</h3>
                    <p class="cs-item-text">
                        Most common and economical metal O.D. design.	
                    </p>
                    <p class="cs-item-text">
                        Double lip, spring loaded. Low pressure-fluid sealing and severe grease sealing conditions with light dust exclusions.	
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/b2v.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/b2v.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/b2v.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">B2V</h3>
                    <p class="cs-item-text">
                        Most common and economical metal O.D. design.	
                    </p>
                    <p class="cs-item-text">
                        Economical design, single lip for grease retention or sealing viscous fluids	
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/b2k.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/b2k.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/b2k.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">B2K</h3>
                    <p class="cs-item-text">
                        Most common and economical metal O.D. design.	
                    </p>
                    <p class="cs-item-text">
                        Double lip economical design, grease retention or sealing viscous fluids. Light dust exclusions.	
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 3                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/bs.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/bs.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/bs.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">BS</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with fluid side rubber covered.
                    </p>
                    <p class="cs-item-text">
                        Single lip, spring loaded. Low pressure-fluid sealing applications and severe grease sealing conditions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/bt.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/bt.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/bt.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">BT</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with fluid side rubber covered.
                    </p>
                    <p class="cs-item-text">
                        Double lip, spring loaded. Low pressure-fluid sealing and severe grease sealing conditions with light dust exclusions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/bv.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/bv.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/bv.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">BV</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with fluid side rubber covered.
                    </p>
                    <p class="cs-item-text">
                        Economical design, single lip for grease retention or sealing viscous fluids.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/bk.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/bk.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/bk.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">BK</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with fluid side rubber covered.
                    </p>
                    <p class="cs-item-text">
                        Economical design, single lip for grease retention or sealing viscous fluids.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 4                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/bwp.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/bwp.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/bwp.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">WPB</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with fluid side rubber covered.
                    </p>
                    <p class="cs-item-text">
                        Dust wiper or scraper for hydraulic or pneumatic cylinder applications
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/brs.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/brs.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/brs.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">SBR</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with a nose gasket for face sealing and the fluid side is rubber covered.
                    </p>
                    <p class="cs-item-text">
                        Single lip, spring loaded. Low pressure-fluid sealing applications and severe grease sealing conditions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/brt.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/brt.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/brt.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">TBR</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with a nose gasket for face sealing and the fluid side is rubber covered.
                    </p>
                    <p class="cs-item-text">
                        Double lip, spring loaded. Low pressure-fluid sealing and severe grease sealing conditions with light dust exclusions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/brv.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/brv.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/brv.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">VBR</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with a nose gasket for face sealing and the fluid side is rubber covered.
                    </p>
                    <p class="cs-item-text">
                        Economical design, single lip for grease retention or sealing viscous fluids.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 5                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/brk.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/brk.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/brk.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">KBR</h3>
                    <p class="cs-item-text">
                        Metal O.D. design with a nose gasket for face sealing and the fluid side is rubber covered.
                    </p>
                    <p class="cs-item-text">
                        Double lip economical design, grease retention or sealing viscous fluids. Light dust exclusions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cs.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cs.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cs.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">SC</h3>
                    <p class="cs-item-text">
                        Rubber covered O.D. design for excellent O.D. sealing.
                    </p>
                    <p class="cs-item-text">
                        Single lip, spring loaded. Low pressure-fluid sealing applications and severe grease sealing conditions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/ct.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/ct.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/ct.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">TC</h3>
                    <p class="cs-item-text">
                        Rubber covered O.D. design for excellent O.D. sealing.
                    </p>
                    <p class="cs-item-text">
                        Double lip, spring loaded. Low pressure-fluid sealing and severe grease sealing conditions with light dust exclusions
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cv.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cv.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cv.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">VC</h3>
                    <p class="cs-item-text">
                        Rubber covered O.D. design for excellent O.D. sealing.
                    </p>
                    <p class="cs-item-text">
                        Economical design, single lip for grease retention or sealing viscous fluids.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 6                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/ck.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/ck.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/ck.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">KC</h3>
                    <p class="cs-item-text">
                        Rubber covered O.D. design for excellent O.D. sealing.
                    </p>
                    <p class="cs-item-text">
                        Double lip economical design, grease retention or sealing viscous fluids. Light dust exclusions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/cwp.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/cwp.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/cwp.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">WPC</h3>
                    <p class="cs-item-text">
                        Rubber covered O.D. design for excellent O.D. sealing.
                    </p>
                    <p class="cs-item-text">
                        Dust wiper or scraper for hydraulic or pneumatic cylinder applications.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/fs.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/fs.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/fs.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">SF</h3>
                    <p class="cs-item-text">
                        Completely rubber covered for maximum corrosion protection.
                    </p>
                    <p class="cs-item-text">
                        Single lip, spring loaded. Low pressure-fluid sealing applications and severe grease sealing conditions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/ft.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/ft.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/ft.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">TF</h3>
                    <p class="cs-item-text">
                        Completely rubber covered for maximum corrosion protection.
                    </p>
                    <p class="cs-item-text">
                        Double lip, spring loaded. Low pressure-fluid sealing and severe grease sealing conditions with light dust exclusions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Services Row 7                -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
                    
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/fv.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/fv.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/fv.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">VF</h3>
                    <p class="cs-item-text">
                        Completely rubber covered for maximum corrosion protection.
                    </p>
                    <p class="cs-item-text">
                        Economical design, single lip for grease retention or sealing viscous fluids.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            <li class="cs-item">
                <a href="/contact" class="cs-link">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/svgs/fk.svg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/svgs/fk.svg">
                        <img loading="lazy" decoding="async" src="/assets/svgs/fk.svg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">KF</h3>
                    <p class="cs-item-text">
                        Completely rubber covered for maximum corrosion protection.
                    </p>
                    <p class="cs-item-text">
                        Double lip economical design, grease retention or sealing viscous fluids. Light dust exclusions.
                    </p>
                    <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span>
                </a>
            </li>
            
            
        </ul>
    </div>
</section>
                                                                              

    {% include 'components/cta.html' %}

{% endblock %}