---
title: 'Prosthetic Knee | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'prosthetickneecasestudy/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/casestudy.css">
{% endblock %}

{% block body %}
 <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Case Studies</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

           

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Custom Designed & Manufactured Viton Shaft Seal for Prosthetic Knee System</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/knee.jpeg?updatedAt=1742481985539">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/knee.jpeg?updatedAt=1742481985539">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/knee.jpeg?updatedAt=1742481985539" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                RHEO is a microprocessor-controlled prosthetic knee system that automatically adapts
                to an individual’s walking style and environment. In search of a solution to their leaking
                seal problem, the manufacturer presented a challenge to the leading seal design firms
                in the U.S. Each company was tasked with designing a custom seal that would meet
                Federal testing regulations, ensuring it could withstand a minimum of 1,000,000 test
                cycles without leaking. The company that produced the longest-lasting seal, surpassing
                the test requirements, would secure the contract.
            </p>
            <p class="cs-text">
                Upon analyzing the application, we identified that the most difficult challenge would be
                sealing the viscous fluid, which contained small metallic spheres magnetically
                programmed to simulate the human leg's movement while walking or running. These
                spheres were essential to the knee's function, but they presented a significant sealing
                challenge. Our analysis revealed that conventional seal designs would likely fail, as the
                spheres could easily slip under the sealing lip. In a typical shaft seal, oil is pumped back
                and forth beneath the lip to reduce friction, aided by micro asperities in the rubber and
                varying film thickness. However, the presence of the spheres could cause leaks by
                disrupting this process.
            </p>
           
           
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1598">
    <div class="cs-container">
        <div class="cs-content">
           
            <p class="cs-text">
                In response, our engineers pursued an innovative approach, manipulating the pumping
                force and lip force distribution to not only lubricate the sealing lip but also redirect the
                spheres away from it. Over the course of 12 months, we tested hundreds of elastomeric
                formulations, lip thickness variations, and design configurations to identify the optimal
                combination of materials and design. Eventually, we achieved a precise solution that
                successfully lubricated the sealing lip while keeping the spheres from interfering with it.
            </p>
            <p class="cs-text">
                Clark Seals submitted the final seal design for testing and emerged as the only
                company to meet and exceed the Federal testing requirement of 1,000,000 test cycles
                without leakage, securing the contract.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/prosthetic-knee-seal-drawing-large.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/prosthetic-knee-seal-drawing-large.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/prosthetic-knee-seal-drawing-large.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/prosthetic-knee-seal-large.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/prosthetic-knee-seal-large.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/prosthetic-knee-seal-large.jpg" alt="people" width="608" height="662">
            </picture>
           
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Case Study</span>
            <h2 class="cs-title">Seal Specifications</h2>
            
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-tr">
                    <th class="cs-th">Product Name</th>
                    <th class="cs-th">Prosthetic Knee Seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Product Description</th>
                    <th class="cs-th">Shaft Seal used in a Prosthetic Knee System to seal viscous fluids containing metal spheres</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Capabilities Applied/Processes</th>
                    <th class="cs-th">Application Engineering</th>
                    <th class="cs-th">Custom AutoCAD Seal Design</th>
                    <th class="cs-th">Problem Seal Analysis</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Overall Dimensions of the Seal</th>
                    <th class="cs-th">Ö2.130 x 0.150 (OD x H)</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Tightest Tolerances Met</th>
                    <th class="cs-th">RMA standards, .001"</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Material Used</th>
                    <th class="cs-th">ELASTOMER: VITON</th>
                    <th class="cs-th">SPRING: Stainless steel</th>
                    <th class="cs-th">METAL CASE: stainless steel</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Features</th>
                    <th class="cs-th">Custom Elastomer Formulation</th>
                    <th class="cs-th">Increased Total Lip Force from the Garter Spring </th>
                    <th class="cs-th">Stabilizes The Lip and Produces Very Small Lip Force Variations During Oscillation
                        Exceeded 2,000,000 Cycles Without Leakage</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">In process testing performed</th>
                    <th class="cs-th">Must go Through 1,000,000 Cycles of Testing In Pendulum Motion of 120° without Leaking</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Estimated Part Weight</th>
                    <th class="cs-th">.0140 lbs</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Standards Met</th>
                    <th class="cs-th">Elastomer spec.: ASTM D2000 M4HK 714</th>
                    <th class="cs-th">Metal case spec.: SAE 30302/30304</th>
                    <th class="cs-th">Spring material spec.: SAE 30302/30304</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Industry for Use</th>
                    <th class="cs-th">OMedical</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Delivery Location</th>
                    <th class="cs-th">Foothill Ranch, California</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
            </thead>
        </table>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}