---
title: 'Prosthetic Knee Case Study | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'prosthetickneecasestudy/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/casestudy.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Prosthetic Knee</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
            <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Case Study</span>
            <h2 class="cs-title">Custom Designed & Manufactured Viton Shaft Seal for a Prosthetic Knee System</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/knee.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/knee.jpg">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/knee.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                RHEO is a microprocessor-controlled, prosthetic knee system that automatically adapts to an individual's walking style and environment. The manufacturer was desperate to solve their leaking seal problem so they posed their challenge to the top seal design firms in the US. Each company was to design a custom seal that would be tested under Federal testing regulations and required to meet a minimum of 1,000,000 test cycles without leaking. The company, who produced the longest lasting seals, exceeding the test requirements, would win the contract.
            </p>
            <p class="cs-text">
                While analyzing the application, we determined that the most difficult aspect of the challenge was going to be sealing the viscous fluid that was filled with small metallic spheres that were magnetically programmed to function like the human leg while walking or running. These spheres were the key to the knees operation but posed an extremely difficult seal design challenge. In fact, it was apparent from our analysis and calculations that current seal design methodologies would not prevent the spheres from getting under the sealing lip. In a properly designed shaft seal, oil is pumped back and forth under the lip to reduce the rubbing friction. The pumping action is caused by both the micro asperities formed in the rubber by lip pressure and the varying film thickness under the lip. A meniscus is formed on the air side and if these spheres get between the lip and the sealing surface the seal will leak.
            </p>
           
           
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1598">
    <div class="cs-container">
        <div class="cs-content">
           
            <p class="cs-text">
                The solution, as with most seasonal equipment, was to design a seal with extreme follow ability to resist compression set and stress relaxation at low temperatures, improve reaction ratio and increase lip force contribution from the garter spring since stainless steel springs are not subject to stress relaxation.
            </p>
            <p class="cs-text">
                This custom sealing solution took one week to develop, was less expensive than their previous seal and ultimately reduced warranty claims by 94%.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/prosthetic-knee-seal-drawing-large.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/prosthetic-knee-seal-drawing-large.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/prosthetic-knee-seal-drawing-large.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/prosthetic-knee-seal-large.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/prosthetic-knee-seal-large.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/prosthetic-knee-seal-large.jpg" alt="people" width="608" height="662">
            </picture>
            <ul class="cs-stats">
                <li class="cs-stat">
                    <span class="cs-number">99%</span>
                    <span class="cs-desc">Positive feedback</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">10</span>
                    <span class="cs-desc">Days free return policy</span>
                </li>
                <li class="cs-stat">
                    <span class="cs-number">24/7</span>
                    <span class="cs-desc">Online customer support</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Case Study</span>
            <h2 class="cs-title">Custom Shaft Seal Specifications</h2>
            
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-tr">
                    <th class="cs-th">Product Name</th>
                    <th class="cs-th">Prosthetic Knee Seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Product Description</th>
                    <th class="cs-th">Shaft Seal used in a Prosthetic Knee System to seal viscous fluids containing metal spheres</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Capabilities Applied/Processes</th>
                    <th class="cs-th">Application Engineering</th>
                    <th class="cs-th">Custom AutoCAD Seal Design</th>
                    <th class="cs-th">Problem Seal Analysis</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Overall Dimensions of the Seal</th>
                    <th class="cs-th">Ö2.130 x 0.150 (OD x H)</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Tightest Tolerances Met</th>
                    <th class="cs-th">RMA standards, .001"</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Material Used</th>
                    <th class="cs-th">ELASTOMER: VITON</th>
                    <th class="cs-th">SPRING: Stainless steel</th>
                    <th class="cs-th">METAL CASE: stainless steel</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Features</th>
                    <th class="cs-th">Custom Elastomer Formulation</th>
                    <th class="cs-th">Increased Total Lip Force from the Garter Spring </th>
                    <th class="cs-th">Stabilizes The Lip and Produces Very Small Lip Force Variations During Oscillation
                        Exceeded 2,000,000 Cycles Without Leakage</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">In process testing performed</th>
                    <th class="cs-th">Must go Through 1,000,000 Cycles of Testing In Pendulum Motion of 120° without Leaking</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Estimated Part Weight</th>
                    <th class="cs-th">.0140 lbs</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Standards Met</th>
                    <th class="cs-th">Elastomer spec.: ASTM D2000 M4HK 714</th>
                    <th class="cs-th">Metal case spec.: SAE 30302/30304</th>
                    <th class="cs-th">Spring material spec.: SAE 30302/30304</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Industry for Use</th>
                    <th class="cs-th">OMedical</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Delivery Location</th>
                    <th class="cs-th">Foothill Ranch, California</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
            </thead>
        </table>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}