---
title: 'Rail | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'rail/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                  Landing Video               -->
<!-- ============================================ -->

<section id="cta-2236">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Rail</h2>
            <p class="cs-text">
                Clark Seals delivers rugged seals that withstand vibration, heavy loads, and extreme weather.
            </p>
        </div>
        <div class="cs-video-wrapper">
            <!--Compress your video and upload it to a CDN like Digital Oceans Spaces so the video file doesn't cause load time issues. You can also remove the video tag and uncomment the picture tag to use a picture instead of a video.-->
            <video autoplay loop muted loading="lazy" src="https://ik.imagekit.io/6ycdefzj5/locomotivemoving.mp4?updatedAt=1742481030134"></video>
        <!-- <picture class="cs-picture">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/wedding6.jpeg" alt="wedding" width="1720" height="547">
            </picture> -->
        </div>
    </div>
</section>

  <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-456">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Industry</span>
            <h2 class="cs-title">Rail</h2>
            <p class="cs-text">
                The rail industry, including trains, subways, and high-speed transit systems, relies on durable and high-performance sealing solutions to ensure safety, efficiency, and long-term reliability. Seals play a critical role in protecting vital components such as wheel bearings, braking systems, and gearboxes from harsh environmental conditions, including extreme temperatures, moisture, dust, and debris. Clark Seals provides precision-engineered seals designed to withstand heavy loads, high speeds, and continuous vibration, ensuring optimal performance and reducing maintenance needs. Our advanced sealing solutions help extend the lifespan of rail systems, improve operational efficiency, and enhance passenger and cargo safety in both urban and long-haul transit networks.
            </p>
           
            
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/rail.jpg?updatedAt=1742481526885">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/rail.jpg?updatedAt=1742481526885">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/rail.jpg?updatedAt=1742481526885" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}