---
title: 'Snow Blower | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'snowblowercasestudy/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/casestudy.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Case Studies</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>


                 
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Snow Blower Seal Problem:</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/snowblower.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/snowblower.jpg">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/snowblower.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                <strong>Clark Seals</strong> was approached by a leading manufacturer of snow blowers to address a
                persistent seal leakage issue. After conducting a thorough review of their equipment
                and an in-depth analysis of the application, it was determined that the leakage was
                caused by a common issue found in seasonal equipment. Mowers, agricultural
                machinery, watercraft, and motorized vehicles all experience periods of heavy use
                followed by extended storage, which can cause rubber compounds to compress and
                relax, resulting in dimensional changes and reduced compression properties. This issue
                is further exacerbated in seasonal equipment, where shaft and housing misalignment,
                as well as run-out, are frequent challenges.
            </p>
         
           
           
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1598">
    <div class="cs-container">
        <div class="cs-content">
           
            <p class="cs-text">
                The solution, typical for seasonal equipment, was to design a seal with enhanced
                followability to resist compression set and stress relaxation at low temperatures. This
                included improving the reaction ratio and increasing the lip force contribution from the
                garter spring, as stainless steel springs are not prone to stress relaxation.
            </p>
            <p class="cs-text">
                This custom seal solution was developed in just one week, was more cost-effective than
                the original seal, and ultimately led to a <strong>94% reduction</strong> in warranty claims.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/snow-blower-seal-drawing-thumb.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/snow-blower-seal-drawing-thumb.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/snow-blower-seal-drawing-thumb.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/snow-blower-seal-thumb.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/snow-blower-seal-thumb.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/snow-blower-seal-thumb.jpg" alt="people" width="608" height="662">
            </picture>
          
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Case Study</span>
            <h2 class="cs-title">Seal Specifications</h2>
            
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-tr">
                    <th class="cs-th">Product Name</th>
                    <th class="cs-th">Snow Blower Seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Product Description</th>
                    <th class="cs-th">Shaft Seal used in snow blower motor to prevent leakage caused from rubber stress relaxation of seasonal equipment</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Capabilities Applied/Processes</th>
                    <th class="cs-th">Problem Seal Analysis</th>
                    <th class="cs-th">Precision Manufacturing</th>
                    <th class="cs-th">Custom AutoCAD Seal Design</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Overall Dimensions of the Seal</th>
                    <th class="cs-th">Ö1.580x 0.197 ( OD x H )</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Tightest Tolerances Met</th>
                    <th class="cs-th">RMA standards, .001"</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Material Used</th>
                    <th class="cs-th">ELASTOMER: VITON</th>
                    <th class="cs-th">SPRING: Stainless steel</th>
                    <th class="cs-th">METAL CASE: carbon steel</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Benefits</th>
                    <th class="cs-th">Resists Compression Set and Stress Relaxation @ Low </th>
                    <th class="cs-th">Remains More Flexible During Long Periods of Idleness</th>
                    <th class="cs-th">Elastomer with low friction coefficient ingredients.</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">In process testing performed</th>
                    <th class="cs-th">Customer Life-Test</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Estimated Part Weight</th>
                    <th class="cs-th">0.022lbs</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Standards Met</th>
                    <th class="cs-th">Elastomer spec.: SAE J200 M4HK 814</th>
                    <th class="cs-th">Metal case material spec.: SAE 1008</th>
                    <th class="cs-th">Spring material spec.: SAE 30304</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Industry for Use</th>
                    <th class="cs-th">Outdoor Power Equipment</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Delivery Location</th>
                    <th class="cs-th">Kohler,Wisconsin</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
            </thead>
        </table>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}