---
title: 'Tire Inflation | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'tireinflationcasestudy/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/casestudy.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Case Studies</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
           

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Tire Inflation U-Cup Seal</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/balancing-vehicle-wheels-2025-03-15-01-04-34-utc.jpg?updatedAt=1751468178232">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/balancing-vehicle-wheels-2025-03-15-01-04-34-utc.jpg?updatedAt=1751468178232">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/balancing-vehicle-wheels-2025-03-15-01-04-34-utc.jpg?updatedAt=1751468178232" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                Clark Seals was approached by a leading manufacturer of Tire Pressure Control Systems (TPCS) to tackle a critical challenge: reducing air leakage in the system's seals. Tire pressure control systems play a vital role in maintaining proper tire inflation in semi-trailers, which in turn extends tire life, improves fuel economy, and helps prevent tire failure. Therefore, minimizing air leakage in these systems is crucial for optimal performance.
            </p>
            <p class="cs-text">
                While the existing seals demonstrated good wear resistance and longevity, they allowed relatively high levels of air permeability. This issue was not new to the manufacturer, as previous attempts by various leading seal companies to reduce the air permeability of PTFE (polytetrafluoroethylene) seals had been unsuccessful.
            </p>
            <p class="cs-text">
                Clark Seals decided to focus on the core material itself—PTFE. They engaged four leading PTFE producers and tasked them with developing a new PTFE compound that could both minimize air permeability and maximize wear resistance. After several months of development, four new PTFE compounds were provided for testing. Two compounds failed to meet expectations, one performed similarly to the current seal, but one compound stood out—reducing air permeability by an impressive 80%.
            </p>
           
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1598">
    <div class="cs-container">
        <div class="cs-content">
           
           
            <p class="cs-text">
                This breakthrough not only addressed the long-standing issue of air leakage but also set a new standard for PTFE seals in Tire Pressure Control Systems.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/608%20x%20580.jpg?updatedAt=1751469080023">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/608%20x%20580.jpg?updatedAt=1751469080023">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/608%20x%20580.jpg?updatedAt=1751469080023" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/Untitled%20design-10.jpg?updatedAt=1751469215156">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/Untitled%20design-10.jpg?updatedAt=1751469215156">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/fwindividualproductimagerenders/Untitled%20design-10.jpg?updatedAt=1751469215156" alt="people" width="608" height="662">
            </picture>
         
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Case Study</span>
            <h2 class="cs-title">Seal Specifications</h2>
            <a href="https://clarkseals.com" class="cs-button-more-info">For more information, visit clarkseals.com</a>
            
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-tr">
                    <th class="cs-th">Product Name</th>
                    <th class="cs-th">Sheave Seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Product Description</th>
                    <th class="cs-th">Patented Hand-Install Sheave Seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Capabilities Applied/Processes</th>
                    <th class="cs-th">Problem Seal Analysis</th>
                    <th class="cs-th">Precision Manufacturing</th>
                    <th class="cs-th">Custom AutoCAD Seal Design</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Manufacturing Equipment Used</th>
                    <th class="cs-th">Tapered Roller Bearing Sheave</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Overall Dimensions of the Seal</th>
                    <th class="cs-th">Ö6.503 x 0.437 (OD x H)</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Tightest Tolerances Met</th>
                    <th class="cs-th">RMA standards, .001"</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Material Used</th>
                    <th class="cs-th">ELASTOMER: NITRILE</th>
                    <th class="cs-th">METAL CASE: Carbon Steel</th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Features</th>
                    <th class="cs-th">Patented Hand-Install Design</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Benefits</th>
                    <th class="cs-th">Resists Compression Set and Stress Relaxation @ Low </th>
                    <th class="cs-th">Remains More Flexible During Long Periods of Idleness</th>
                    <th class="cs-th">Elastomer with low friction coefficient ingredients.</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">In process testing performed</th>
                    <th class="cs-th">Field Testing</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Estimated Part Weight</th>
                    <th class="cs-th">0.236 lbs</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Standards Met</th>
                    <th class="cs-th">Nitrile resp. ASTM D2000 M2BG 714</th>
                    <th class="cs-th">Metal case material spec.: SAE 1008</th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Industry for Use</th>
                    <th class="cs-th">Oil & Gas</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Delivery Location</th>
                    <th class="cs-th">United States and around the world</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
            </thead>
        </table>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}