---
title: 'Transmission Case Study'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'transmissioncasestudy/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/casestudy.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Case Studies</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Custom Designed & Manufactured Nitrile Transmission Seal for Vertical Input
                Shaft</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/transmission.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/transmission.jpg">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/transmission.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                Clark Seals was engaged to address a transmission seal failure occurring after approximately 250 hours of operation. Upon analyzing the application, several operational challenges were identified. The vertical input shaft operated under varying pressures up to 60 psi and was housed within a long tubular casing that left little space for a standard seal design. Additionally, the seal needed to be installed in either direction without damaging the sealing lip. The shaft had an end play of 0.015", which fell outside the typical design envelope, and the seal would occasionally experience sparse lubrication.
            </p>
            <p class="cs-text">
                Traditionally, pressure seals were designed with a thick flex section and a stubby beam length, featuring reduced lip interference and a smaller lip force contribution from the garter spring. The cavity pressure would push the fragile rubber lip against the sealing surface, and the combined lip force from the rubber and internal pressure would squeeze out the lubricant between the lip and sealing surface. As the shaft rotated, friction increased, causing the lip to follow the shaft, leading to lip tear and premature seal failure. The previous pressure seal design, with its thicker net section, aimed to resist lip distortion and prevent increased lip force due to internal pressure.
            </p>
           
           
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1598">
    <div class="cs-container">
        <div class="cs-content">
           
            <p class="cs-text">
                Our first design objective was to enhance followability by increasing the lip force from the garter spring and positioning it to prevent bell mouthing, which can distort the flex section and lift the lip off the sealing surface. We reduced the metal case inner diameter (ID) and positioned it closer to the contact point, which allowed us to decrease the flex thickness, resulting in more lip force from the garter spring and reducing the contact path width from 0.031" to 0.010" under load. We also adjusted the airside angle to 31° and the oil side angle to 42°, which reduced the total lip force from 2.5 lbs/inch of circumference to 1.08 lbs/inch under pressure, lowered the lip operating pressure (LOP) from 28.2 psi to 19.3 psi, while maintaining a torque of 2.5 in. oz. and a watt density of 112.3 watts per square inch under load.
            </p> 
            <p class="cs-text">
                During customer testing, our custom seal exceeded expectations, running more than 10,000 hours—quadrupling the original test requirements—before the test was concluded.
            </p>
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/transmission-seal-drawing-thumb.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/transmission-seal-drawing-thumb.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/transmission-seal-drawing-thumb.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/transmission-seal-thumb.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/transmission-seal-thumb.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/transmission-seal-thumb.jpg" alt="people" width="608" height="662">
            </picture>
            
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Case Study</span>
            <h2 class="cs-title">Seal Specifications</h2>
            
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-tr">
                    <th class="cs-th">Product Name</th>
                    <th class="cs-th">Transmission Seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Product Description</th>
                    <th class="cs-th">High pressure vertical input shaft transmission seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Capabilities Applied/Processes</th>
                    <th class="cs-th">Problem Seal Analysis</th>
                    <th class="cs-th">Precision Manufacturing</th>
                    <th class="cs-th">Custom AutoCAD Seal Design</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Overall Dimensions of the Seal</th>
                    <th class="cs-th">Ö0.883x 0.235 (OD x H)</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Tightest Tolerances Met</th>
                    <th class="cs-th">RMA standards, .001"</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Material Used</th>
                    <th class="cs-th">ELASTOMER: VITON</th>
                    <th class="cs-th">SPRING: Stainless steel spring</th>
                    <th class="cs-th">METAL CASE: carbon steel</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Benefits</th>
                    <th class="cs-th">Resists Compression Set and Stress Relaxation @ Low </th>
                    <th class="cs-th">Remains More Flexible During Long Periods of Idleness</th>
                    <th class="cs-th">Elastomer with low friction coefficient ingredients.</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">In process testing performed</th>
                    <th class="cs-th">Customer Life-Test</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Estimated Part Weight</th>
                    <th class="cs-th">0.0045lbs</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Standards Met</th>
                    <th class="cs-th">Elastomer spec. : SAE J200 M7BG 814</th>
                    <th class="cs-th">Metal case material spec.: SAE 1008</th>
                    <th class="cs-th">Spring material spec.: SAE 30304</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Industry for Use</th>
                    <th class="cs-th">Automotive</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Delivery Location</th>
                    <th class="cs-th">Ripon,Wisconsin</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
            </thead>
        </table>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}