---
title: 'U-Cups | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'U-Cups/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Products</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-2291">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">U-Cups</h2>
            <p class="cs-text">
                U-cup seals are designed with a flexible lip profile that allows them to seal effectively in both directions, making them ideal for dynamic hydraulic and pneumatic applications. The U-shaped cross-section enables excellent sealing performance under high pressures, while materials like polyurethane or PTFE blends provide outstanding wear resistance and long service life. As pressure increases, the U-cup’s lips expand outward to enhance the sealing force, ensuring a tighter seal without the need for additional energizers or complex assemblies.
            </p>
            <div class="cs-features">
                <h3 class="cs-h3">Key Features:</h3>
                <ul class="cs-ul">
                    <li class="cs-li">Bidirectional Sealing Capability</li>
                    <li class="cs-li">High Pressure and Wear Resistance</li>
                    <li class="cs-li">Self-Energizing Design</li>
                </ul>
            </div>
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
           
            <!--Image-->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/A2S.jpg?updatedAt=1739798607517">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/A2S.jpg?updatedAt=1739798607517">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/A2S.jpg?updatedAt=1739798607517" alt="meeting" width="630" height="630" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                                   

    {% include 'components/cta.html' %}

{% endblock %}