---
title: 'Washing Machine | Clark Seals'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'washingmachinecasestudy/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/casestudy.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Case Studies</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/1710%20x%20900.jpg?updatedAt=1746107590034" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>


           

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1640">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Custom Designed; Manufactured Nitrile Mechanical Seal for Washing Machine Tub</h2>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/speedqueen.jpg?updatedAt=1742482624064">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/speedqueen.jpg?updatedAt=1742482624064">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/speedqueen.jpg?updatedAt=1742482624064" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <p class="cs-text">
                <strong>Clark Seals</strong>, was approached by the largest manufacturer of commercial laundry
                equipment to address a seal leakage issue in sandy environments. Sand particles were
                entering between the sealing surfaces of the mechanical seal, causing face grooving
                and resulting in leakage.
            </p>
            <p class="cs-text">
                To resolve the problem, we designed a custom two-piece integrated sealing solution
                that sealed both the top and bottom of the tub. The top seal was engineered to press-fit
                around the tub bearing, improving alignment between the transmission, tub, and
                agitator, while featuring a triple sealing lip to prevent water, sand, and debris from
                entering the bearing cavity. The bottom seal was designed with a locking pin to resist
                torque and press-fit into the top seal during installation. To further combat the intrusion
                of sand and contaminants, our engineers developed and patented a unique negative
                "R" sealing lip geometry. This innovative design allowed the sprung lip to function as an
                excluder lip, effectively keeping all sand and debris out of the sealing environment.
            </p>
            <p class="cs-text">
                The result was a patented sealing solution that eliminated warranty claims, reduced
                costs by 80%, and lasted more than 700% longer than the original mechanical seal it
                replaced.
            </p>
           
           
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1598">
    <div class="cs-container">
        <div class="cs-content">
           
           
           
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/washing-machine-tub-seal-drawing-large.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/washing-machine-tub-seal-drawing-large.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/washing-machine-tub-seal-drawing-large.jpg" alt="people" width="608" height="406">
            </picture>
        </div>
        <div class="cs-stats-group">
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/washing-machine-tub-seal-thumb.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/washing-machine-tub-seal-thumb.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/washing-machine-tub-seal-thumb.jpg" alt="people" width="608" height="662">
            </picture>
            
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                    Table                     -->
<!-- ============================================ -->

<section id="table-1669">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Case Study</span>
            <h2 class="cs-title">Seal Specifications</h2>
            <a href="https://clarkseals.com" class="cs-button-more-info">For more information, visit clarkseals.com</a>
            
        </div>
        <table class="cs-table">
            <thead>
                <tr class="cs-tr">
                    <th class="cs-th">Product Name</th>
                    <th class="cs-th">Washing Machine Tub Seal</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Product Description</th>
                    <th class="cs-th">Custom two-piece integrated washing machine tub seal.</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Manufacturing Equipment Used</th>
                    <th class="cs-th">Commercial Vertical Washing Machine</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Overall Dimensions of the Seal</th>
                    <th class="cs-th">Ö3.630x1.150 (OD xH assembled dimension)</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Tightest Tolerances Met</th>
                    <th class="cs-th">RMA standards, .001"</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Material Used</th>
                    <th class="cs-th">ELASTOMER:Nitrile</th>
                    <th class="cs-th">SPRING: Stainless steel</th>
                    <th class="cs-th">METAL CASE: carbon steel</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Benefits</th>
                    <th class="cs-th">Eliminated Warranty Claims </th>
                    <th class="cs-th">80% Cost Savings</th>
                    <th class="cs-th">Lasts 700% Longer than the Seal it Replaced</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">In process testing performed</th>
                    <th class="cs-th">Inspected Each Assembly</th>
                    <th class="cs-th">After Insertion of the Bearing into the Bottom Seal for Rotation and Assembled Dimensions</th>
                    <th class="cs-th">Customer Life-Test</th>
                    
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Estimated Part Weight</th>
                    <th class="cs-th">0.8935lbs</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Standards Met</th>
                    <th class="cs-th">Elastomer spec.: SAE J200, JMLU2 and UL157</th>
                    <th class="cs-th">Metal case material spec.: SAE 1008</th>
                    <th class="cs-th">Spring material spec.: SAE 30304</th>
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Industry for Use</th>
                    <th class="cs-th">Laundry Equipment</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
                <tr class="cs-tr">
                    <th class="cs-th">Delivery Location</th>
                    <th class="cs-th">Ripon,Wisconsin</th>
                    <th class="cs-th"></th>
                    <th class="cs-th"></th>
            
                </tr>
            </thead>
        </table>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}