/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- ----------------------------------- -->
<---     Video Banner for Industires     -->
<--- ----------------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-2236 {
    background-color: #f7f7f7;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-top: 2rem;
  }
  #cta-2236 .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 5vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #cta-2236 .cs-container::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0.222) 100%);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #cta-2236 .cs-content {
    /* aligns text centrally. set to left to left-align text */
    text-align: center;
    padding: var(--sectionPadding);
    /* 60px - 150px */
    padding-top: clamp(9.75rem, 8.82vw, 9.375rem);
    padding-bottom: clamp(9.75rem, 8.82vw, 9.375rem);
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centrally aligns items. set to flex-start to left-align items */
    align-items: center;
    z-index: 2;
  }
  #cta-2236 .cs-title {
    /* 31px - 39px */
    font-size: clamp(1.9375rem, 3vw, 2.4375rem);
    color: var(--bodyTextColorWhite);
  }
  #cta-2236 .cs-text {
    margin: 0 0 2rem;
    color: var(--bodyTextColorWhite);
  }
  #cta-2236 .cs-button-outline {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 12.5rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    /* 32px - 48px */
    padding: 0 clamp(2rem, 4vw, 3rem);
    pointer-events: auto;
    color: var(--bodyTextColorWhite);
    border: 1px solid var(--bodyTextColorWhite);
    display: inline-block;
    position: relative;
    transition: color 0.3s;
  }
  #cta-2236 .cs-button-outline:before {
    content: "";
    width: 0%;
    height: 100%;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cta-2236 .cs-button-outline:hover {
    color: var(--headerColor);
  }
  #cta-2236 .cs-button-outline:hover:before {
    width: 100%;
  }
  #cta-2236 .cs-video-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
  #cta-2236 .cs-video-wrapper:hover {
    cursor: pointer;
  }
  #cta-2236 .cs-video-wrapper:hover .cs-play {
    transform: translate(-50%, -50%) scale(1.2);
  }
  #cta-2236 .cs-video-wrapper video,
  #cta-2236 .cs-video-wrapper .cs-picture {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #cta-2236 .cs-video-wrapper video img,
  #cta-2236 .cs-video-wrapper .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #cta-2236 .cs-video-wrapper video:before,
  #cta-2236 .cs-video-wrapper .cs-picture:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs {
    padding: var(--sectionPadding);
  }
  #sbs .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #sbs .cs-left {
    position: relative;
    height: 39.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  #sbs .cs-picture {
    position: absolute;
    display: block;
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs .cs-picture1 {
    top: 0;
    left: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  #sbs .cs-picture2 {
    bottom: 0;
    right: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  #sbs .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs .cs-topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  #sbs .cs-title {
    max-width: 50rem;
    text-align: left;
  }
  #sbs .cs-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    color: var(--bodyTextColor);
    text-align: left;
  }
  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .cs-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #sbs .cs-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .cs-name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  #sbs .cs-job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .cs-quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
  #sbs .cs-button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs .cs-left:before,
  body.dark-mode #sbs .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs .cs-picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #sbs .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs .cs-title,
  body.dark-mode #sbs .cs-text,
  body.dark-mode #sbs .cs-h3,
  body.dark-mode #sbs .cs-flex-p,
  body.dark-mode #sbs .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs .cs-job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---        List Flair          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #timeline-2178 {
    padding: var(--sectionPadding);
    background-color: #FBF5F1;
    position: relative;
    z-index: 1;
  }
  #timeline-2178 .cs-container {
    width: 100%;
    /* vhanges to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6.6vw, 4rem);
  }
  #timeline-2178 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #timeline-2178 .cs-title {
    margin: 0;
  }
  #timeline-2178 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  #timeline-2178 .cs-item {
    text-align: left;
    list-style: none;
    padding-bottom: 2.5rem;
    overflow: hidden;
    display: flex;
    /* 16px - 24px */
    gap: clamp(1rem, 3vw, 1.5rem);
  }
  #timeline-2178 .cs-item:last-of-type {
    padding-bottom: 0;
  }
  #timeline-2178 .cs-item:last-of-type .cs-icon-wrapper:before {
    display: none;
  }
  #timeline-2178 .cs-icon-wrapper {
    width: 4rem;
    height: 4rem;
    background-color: var(--primary);
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #timeline-2178 .cs-icon-wrapper:before {
    content: '';
    width: 2px;
    height: 100vh;
    opacity: 1;
    background: repeating-linear-gradient(0deg, #BABABA, #BABABA 2px, transparent 2px, transparent 4px);
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  #timeline-2178 .cs-date {
    font-size: 1rem;
    text-align: inherit;
    line-height: 1.5em;
    margin: 0 0 0.75rem;
    color: var(--secondary);
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  #timeline-2178 .cs-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--secondary);
  }
  #timeline-2178 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5rem;
    color: var(--headerColor);
  }
  #timeline-2178 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #timeline-2178 .cs-floater {
    display: none;
    position: absolute;
    z-index: -1;
  }
  #timeline-2178 .cs-floater1 {
    width: 35%;
    max-width: 42.5rem;
    height: auto;
    display: block;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #timeline-2178 .cs-container {
    max-width: 80rem;
  }
  #timeline-2178 .cs-card-group {
    margin-bottom: 3.125rem;
  }
  #timeline-2178 .cs-item {
    width: 53%;
    max-width: 42.0625rem;
    /* 16px - 32px */
    padding-bottom: clamp(1rem, 2.5vw, 2rem);
    position: relative;
    left: calc(50% - 2rem);
  }
  #timeline-2178 .cs-item:nth-of-type(even) {
    text-align: right;
    transform: rotateY(-180deg) translateX(-4rem);
    transform-origin: left;
  }
  #timeline-2178 .cs-item:nth-of-type(even) .cs-icon-wrapper,
  #timeline-2178 .cs-item:nth-of-type(even) .cs-wrapper {
    transform: scaleX(-1);
  }
  #timeline-2178 .cs-item:nth-of-type(even) .cs-date {
    justify-content: flex-end;
  }
  #timeline-2178 .cs-floater2 {
    width: 33%;
    max-width: 40.3125rem;
    height: auto;
    display: block;
    bottom: 0;
    right: 0;
  }
}
/*-- --------------------------------- -->
<---     Side By Side Industries       -->
<--- ---------------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-456 {
    padding: var(--sectionPadding);
  }
  #sbs-456 .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sbs-456 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 40.625rem;
    margin: 0 1rem;
    margin-top: -5.75rem;
    /* 40px - 60px top and bottom */
    /* 20px - 60px left and right */
    padding: clamp(2.5rem, 7vw, 3.75rem) clamp(1.25rem, 5.5vw, 3.75rem);
    background-color: #fafbfc;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    border-radius: 0.75rem;
    /* clips the pseudo element */
    overflow: hidden;
    box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbs-456 .cs-content:before {
    /* green border top */
    content: "";
    width: 100%;
    height: 0.5rem;
    background: var(--primary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #sbs-456 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-456 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-456 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-456 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-456 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-456 .cs-picture {
    width: 100%;
    height: auto;
    height: 27.6875rem;
    /* clips the img corners */
    overflow: hidden;
    border-radius: 1.5rem;
    display: block;
    /* sends it to the top */
    order: -1;
    position: relative;
  }
  #sbs-456 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-456 .cs-container {
    padding: 3.75rem 0;
    position: relative;
    align-items: flex-end;
  }
  #sbs-456 .cs-content {
    width: 65%;
    margin: 0;
  }
  #sbs-456 .cs-picture {
    /* 465px - 617px */
    width: clamp(29.0625rem, 53vw, 38.5625rem);
    position: absolute;
    left: 0;
    height: 100%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-456 .cs-content {
    /* 90px - 108px */
    margin-right: clamp(5rem, 8.5vw, 6.75rem);
  }
}
