---
title: 'Clark Seals Website | Better Website Designs Designs | Tulsa, OK'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- Usage Notes:
We made this stitch to overlap the section below it, so if there's a patterned texture or image background on the next section below, it will overlap on top of it. Other Stitches like this would have a white gap between the cards an the next section. In order to make Stitches like this work, we need to add a padding top on the section below it to counteract the overlap. 

ON MOBILE (360px): add padding-top: (654/16rem); using LESS, or padding-top: calc(654 / 16 * 1rem); if you're using SCSS, or padding-top: 40.875rem; if you're just using vanilla CSS.

ON TABLET (768px): Reset to padding-top: (230/16rem); using LESS, padding-top: calc(230 / 16 * 1rem) for SCSS or padding-top: 15.625rem; for CSS

Doing this will complete the overlapping "breaking the container" look.
-->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1250">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Engineering Excellence, Sealing the Future.</h1>
            <p class="cs-text">
                Partnering with industries worldwide, we design and manufacture high-performance elastomeric seals for OEMs, oil and gas, and beyond.
            </p>
            <a href="" class="cs-button-solid">Get A Quote</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/project-one" class="cs-link">
                    <h3 class="cs-h3">  Custon Seal Desgin</h3>
                    <p class="cs-item-text">
                        Custon Seal's are individually designed and optimized for each application.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsdesign.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsdesign.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/clarksealsdesign.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/project-two" class="cs-link">
                    <h3 class="cs-h3">Application Engineering</h3>
                    <p class="cs-item-text">
                        Clark Seal's provide full engineering support for new and exisitng applications.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsapplication.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsapplication.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/clarksealsapplication.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Problem Seal Analaysis</h3>
                    <p class="cs-item-text">
                        Problem seals can be diagnoses nd redesgined within 24 hours.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsproblem.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsproblem.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/clarksealsproblem.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Precision Manufacturing</h3>
                    <p class="cs-item-text">
                        Clark Seal's Ningbo is the most technically advanced seal facorty in the world.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsmanufacturing.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/clarksealsmanufacturing.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/clarksealsmanufacturing.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction.jpg" alt="construction" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   About US                   -->
<!-- ============================================ -->

<section id="sbs-2276">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg">
                <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/construction2.jpg" alt="construction site" width="413" height="492" loading="lazy">
            </picture>
            <a href="" class="cs-button-solid">Read More</a>
        </div>
        <div class="cs-content">
            <div class="cs-header">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Commitment to Quality</h2>
            </div>
            <div class="cs-wrapper">
                <div class="cs-flex">
                    <p class="cs-text">
                        At Clark Seals, we are committed to producing the highest quality seals in the world through advanced research and development, continuous technological improvement and uncompromised manufacturing excellence. Our new
                        state-of-the-art manufacturing facility in Ningbo, China is one of the most technologically advanced seal factories in the world, incorporating the latest in manufacturing, testing and quality control systems.
                    </p>
                    <img class="cs-signature" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/signature.png" decoding="async" loading="lazy" alt="signature" width="170" height="59" aria-hidden="true">
                    <span class="cs-name">William John</span>
                    <span class="cs-desc">Founder of Build Stitch</span>
                    <!--if you change this button class name, change the class name to rename it as well in the css at small desktop media query-->
                    <a href="" class="cs-button-solid">Get Started Today</a>
                </div>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction5.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction5.jpg">
                    <img aria-hidden="true" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction5.jpg" alt="construction site" width="362" height="400" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</section>
            
<!-- ============================================ -->
<!--                Products Row 1                -->
<!-- ============================================ -->

<section id="services-279">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our products</span>
            <h2 class="cs-title">Clark Seal's Sealing Products</h2>
            <p class="cs-text">
                Clark Seals designs and manufactures various custom sealing products for Original Equipment Manufacturers using the latest design innovations and material advancements. Our sealing products are over-engineered and precisely manufactured to insure maximum reliability and performance. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/Shaftseal.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/Shaftseal.jpg">
                    <img loading="lazy" decoding="https://ik.imagekit.io/6ycdefzj5/Shaftseal.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Shaft Seals</h3>
                    <a class="cs-button-transparent" aria-label="read more about foyers" href="/about">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg">
                    <img loading="lazy" decoding="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Bearing Seals</h3>
                    <a class="cs-button-transparent" aria-label="read more about bathrooms" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg">
                    <img loading="lazy" decoding="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Other Sealing Products</h3>
                    <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg">
                    <img loading="lazy" decoding="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Other Sealing Products</h3>
                    <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Products Row 2                -->
<!-- ============================================ -->

<section id="services-30">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Foyer</h3>
                    <a class="cs-button-transparent" aria-label="read more about foyers" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/posh-bathroom.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Bathrooms</h3>
                    <a class="cs-button-transparent" aria-label="read more about bathrooms" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Living Rooms</h3>
                    <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/kitchen-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/living-room.jpg">
                    <img loading="lazy" decoding="https://csimg.nyc3.digitaloceanspaces.com/Services/kitchen.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Kitchens</h3>
                    <a class="cs-button-transparent" aria-label="read more about kitchens" href="">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                Products Row 3                -->
<!-- ============================================ -->

<section id="services-279">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our products</span>
            <h2 class="cs-title">Clark Seal's Sealing Products</h2>
            <p class="cs-text">
                Clark Seals designs and manufactures various custom sealing products for Original Equipment Manufacturers using the latest design innovations and material advancements. Our sealing products are over-engineered and precisely manufactured to insure maximum reliability and performance. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/Shaftseal.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/Shaftseal.jpg">
                    <img loading="lazy" decoding="https://ik.imagekit.io/6ycdefzj5/Shaftseal.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Shaft Seals</h3>
                    <a class="cs-button-transparent" aria-label="read more about foyers" href="/about">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg">
                    <img loading="lazy" decoding="https://ik.imagekit.io/6ycdefzj5/bearingseal.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Bearing Seals</h3>
                    <a class="cs-button-transparent" aria-label="read more about bathrooms" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg">
                    <img loading="lazy" decoding="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Other Sealing Products</h3>
                    <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Read More</a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg">
                    <img loading="lazy" decoding="https://ik.imagekit.io/6ycdefzj5/otherseal.jpg" alt="living room" width="348" height="433" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <h3 class="cs-h3">Other Sealing Products</h3>
                    <a class="cs-button-transparent" aria-label="read more about living rooms" href="">Read More</a>
                </div>
            </li>
        </ul>
    </div>
</section>                   

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1254">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Industries We Serve</h2>
            </div>
            <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Aerospace</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/aerospace.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/aerospace.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/aerospace.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Agriculture/Construction</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/agriculture.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/agriculture.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/agriculture.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Appliance</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/appliance.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/appliance.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/appliance.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Automotive</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/automotive.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/automotive.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/automotive.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Energy</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/energy.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/energy.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/energy.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Industrial Equipment</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/industrial.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/industrial.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/industrial.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Medical Equipment</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/medicalequipment.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/medicalequipment.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/medicalequipment.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Outdoor Power</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/outdoor.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/outdoor.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/outdoor.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Process Industries</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/process.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/process.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/process.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Power Tools</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/powertools.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/powertools.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/powertools.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Power Transmissions</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/powertransmission.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/powertransmission.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/powertransmission.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Rail</h3>
                    <p class="cs-item-text">
                        We’ve helped thousands of organizations transform to become relevant of helped thousands.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/rail.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/rail.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/rail.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-5">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Work with Us</span>
            <h2 class="cs-title">Our Numbers Speak For Themselves</h2>
            <p class="cs-text">
                Facilisis condimentum viverra scelerisque ac morbi sit sed. Turpis sagittis in blandit eleifend tortor ullamcorper eu placerat. Et orci felis volutpat, etiam vitae egestas volutpat pulvinar. 
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">40+</span>
                <span class="cs-header">Years Experience</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">4</span>
                <span class="cs-header">Experienced Staff</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">100+</span>
                <span class="cs-header">Happy Clients</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">1</span>
                <span class="cs-header">Year Warranty</span>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Contact Us</a>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Stats/bg-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg" alt="brick wall" width="1920" height="1282" aria-hidden="true">
    </picture>
</section>
                                
               
<!-- ============================================ -->
<!--                 Case Studies                 -->
<!-- ============================================ -->

<section id="services-1728">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Case Studies</h2>
            </div>
            <p class="cs-text">
                Explore real-world applications of our high-performance rubber sets in action. From industrial machinery to custom engineering solutions, these case studies showcase how our products enhance durability, efficiency, and reliability. Click the links below to see how businesses have successfully integrated our rubber solutions into their operations.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Snow Blower</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/snowblower.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/snowblower.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/snowblower.jpg" alt="man exercising in a class" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Prostheic Knee</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/knee.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/knee.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/knee.jpg" alt="man flexing his muscles in a gym" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Washing Machine</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/washingmachine.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/washingmachine.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/washingmachine.jpg" alt="man lifting weights in a gym" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Crown Block</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/crownblock.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/crownblock.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/crownblock.jpg" alt="woman doing yoga" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Transmission</h3>
                </a>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/transmission.jpg">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/transmission.jpg">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/transmission.jpg" alt="man cycling on a bike" width="384" height="480" aria-hidden="true" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
    {% include 'components/cta.html' %}
{% endblock %}